* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.guion {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.f1 {
  font-family: "Nunito Sans", sans-serif;
}
.f2 {
  font-family: "Oswald", sans-serif;
}
.f3 {
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --naranja-claro: #ebb730;
  --naranja-oscuro: #db813f;
  --azul-claro: #0094d7;
  --azul-oscuro: #344497;
  --morado: #612f8c;
  --verde: #6dab51;
  --rojo-oscuro: #953829;
  --rojo: #b3272d;
  --verde-logo-1: #275c6d;
  --gris-claro: #e6e6de;
  --gris-medio: #bbbbae;
  --gris-oscuro: #6d6d70;
}
.rojoc {background: #c3242b;}
.rojoo {background: #a1262a;}
.verde {background: #6dab51;}
.azulo {background: #344497;}
.azulc {background: #0094d7;}
.naranjao {background: #db813f;}
.naranjac {background: #ebb730;}
.morado {background: #612f8c;}
.verde1 {background: #275c6d;}
.grisc {background: #e6e6de}
.grism {background: #bbbbae}
.griso {background: #6d6d70}
.lbco{color: white;}

.hv-bck:hover {
  background: #136bc0;
}
.hv-txt:hover{
  color: slategrey;
}
.hv-color:hover{
  color: slategrey;
}
.hv-trns-1:hover {
  transform: translateY(-1%);
}
.hv-trns-5:hover {
  transform: translateY(-5%);
}
.w15{
  width: 15%;
}
.w50{
  width: 50%;
}
.contenedor{
  width: 95vw;
  max-width: 1100px;
  margin: 0 auto;
}
.contenedor-grid{
  width: 95vw;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 52% 43%;
  grid-template-rows: repeat(24, auto);
  gap: 0px 5%;
  grid-auto-flow: row;
  grid-template-areas:
    "nombre foto"
    "nombre foto"
    "nombre foto"
    "nombre foto"
    "nombre foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "formacion foto"
    "formacion foto"
    "experiencia foto"
    "experiencia foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto";
}
.pleca-alnz>.mobile{
  display: none;
}
.pleca-alnz>.foto{
  overflow: hidden;
}
.pleca-alnz>.foto img{
  width: 100%;
  display: block;
}
.pleca-alnz>.desktop{
  display: flex;
  background: var(--gris-claro);
  z-index: 10;
  position: relative;
}
.pleca-alnz>.desktop .lema{
  width: 100%;
  font-size: 15.5px;
  font-weight: 300;
  letter-spacing: 12px;
  text-transform: uppercase;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #aaa;
}
.inicio{
  font-size: 16px;
  font-family: 600;
  line-height: 2;
  letter-spacing: 2px;
  padding: 0 20px;
  color: white;
  background: dodgerblue;
}
.pleca-alnz>.desktop .logo{
  width: 95px;
  height: 75px;
  background: var(--gris-claro);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.pleca-alnz .logo img{
  height: 65%;
}
.nombre-bx {
  grid-area: nombre;
}
.nombre{
  font-size: 65px;
  line-height: 1.1;
  margin-top: 170px;
  margin-bottom: 20px;
}
.espl-ind{
  display: inline-block;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px 12px 0;
  background: dodgerblue;
  color: white;
  margin-bottom: 10px;
}
.especialidad{
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.cedulas{
  font-size: 11px;
  font-weight: 400;
}
.foto-col{
  grid-area: foto;
}
.foto-bx{
  position: sticky;
  top: 0;
}
.foto-bx img{
  width: 100%;
}
.br1024{
  display: none;
}
.agende{
  font-size: 20px;
  line-height: 1.3;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding: 10px 0 15px;
  background-color: #db813f;
  position: absolute;
  margin-bottom: 20px;
}
.agende a{
  color: white;
}
.contacto-bx {
  grid-area: contacto;
  margin-top: 50px;
}
.secc-cbz{
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}
.ctc-empresa {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
}
.contacto-bx .fas{
  font-size: 22px;
  color: #999;
}
.ctc-info{
  font-size: 22px;
  line-height: 1.2;
}
.colapsable {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--gris-claro);
  cursor: pointer;
  padding: 14px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 15px 0 25px;
}
.active, .colapsable:hover {
  color: white;
  background-color: #8F9491;
}
.mapa {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 25px;
}
.inbl{
  display: inline-block;
  margin-right: 30px;
}
.msite{
  margin: 20px 0 30px;
}
.redes-bx{
  display: flex;
  margin-top: 25px;
  align-items: center;
}
.redes-bx img{
  width: 50px;
  margin-right: 30px;
}
.click-redes{
  font-size: 16px;
  line-height: 1.2;
}
.sep{
  width: 65%;
  height: 5px;
  background: var(--azul-claro);
  margin-top: 35px;
  margin-bottom: 35px;
}
.formacion-bx{
  width: 95%;
  grid-area: formacion;
}
.secc-txt{
  font-size: 18px;
  line-height: 1.4;
}
.experiencia-bx {
  grid-area: experiencia;
}
.experiencia-bx ul{
  list-style-type: disc;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 20px;
}
.secc-txt > li{
  margin-bottom: 10px;
  line-height: 1.4;
}
.colab-bx {
  grid-area: colaboraciones;
  margin-top: 15px;
}
.colab-bx>.cbz-bx{
  display: flex;
  align-items: baseline;
  margin-bottom: 25px;
}
.colab-bx>.cbz-bx h2{
  color: var(--verde-logo-1);
}
.colab-bx>.cbz-bx div {
  width: 30%;
  margin-left: 11px;
}
.colab-bx .cbz-bx>div img{
  width: 100%;
}
.cards-bx{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-hz{
  width: 100%;
  display: flex;
  background: #fff;
  margin-bottom: 45px;
  -webkit-font-smoothing: antialiased;
  transition: all 300ms;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}
.hv-card:hover {
  transform: translateY(-2%);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.16);
}
.card-hz>.cbz-bx{
  display: grid;
  grid-template-rows: 25px repeat(16, auto);
}
.card-hz>.cbz-bx .ind{
  grid-row: 1;
  width: 100%;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: #db813f;
  padding-top: 3px;
}
.card-hz>.cbz-bx .blz{
  grid-row: 9;
  padding: 0 25px;
}
.card-hz>.cbz-bx .cbz{
  grid-row: 10 / span 2;
  padding: 0 25px;
}
.cbz-bx>.blz{
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--verde-logo-1);
  margin-bottom: 10px;
}
.cbz-bx>.cbz{
  font-size: 28px;
  line-height: 1.1;
}
.card-vl{
  width: 47.5%;
  background: #fff;
  margin-bottom: 45px;
  -webkit-font-smoothing: antialiased;
  transition: all 300ms;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}
.card-vl img, .card-hz img{
  width: 100%;
  display: block;
}
.card-vl>.ind{
  height: 25px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: white;
  background-color: #db813f;
  padding-top: 5px;
}
.card-vl>.cbz-bx{
   padding: 15px 25px 15px;
}
.video-bx{
  margin-bottom: 30px;
}
/* FOOTER */
footer{
  margin: 0 auto;
}
.footer-row-1 {
  background: var(--verde-logo-1)
}
.footer-mision {
  font-size: 19px;
  line-height: 2.4;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
.footer-row-2 {
  height: auto;
  background: #e8e5e0;
}
.footer-cont {
  padding: 20px 30px 0;
  display: flex;
}
.footer-col-2 {
  width: 35%;
  margin: 0 30px 0 70px;
}
.footer-BSlogo-bx {
  width: 150px;
}
.footer-BSlogo-bx img {
  width: 100%;
}
.anunciese, .footer-tel {
  font-size: 19px;
  margin-bottom: 5px;
}
.footer-icon {
  font-size: 16px;
  color: #696969;
}
.footer-email {
  font-size: 18px;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 10px;
  white-space: nowrap;
}
.footer-direccion {
  font-size: 15px;
  line-height: 1.3;
}
.footer-col-3 {
  width: 40%;
}
.footer-col-3 p {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 7px;
}
.footer-col-3 a {
  font-size: 13px;
  text-decoration: underline;
  display: inline-block;
  margin-right: 5px;
}
.btn-siganos {
  width: 170px;
  height: 70px;
  border: 3px solid #eee;
  border-radius: 6px;
  background: #1778f2;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
  padding-top: 6px;
  box-shadow: 5px 6px 10px 0px #c2c2c2;
}
.btn-siganos p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}
.btn-siganos:hover {
  background-color: #2d69bd;
}
.btn-siganos:active {
  position: relative;
  top: 1px;
}
.btn-siganos-pr {
  display: none;
  width: 150px;
  height: 70px;
  border: 3px solid #eee;
  border-radius: 6px;
  background: #1778f2;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
  padding-top: 6px;
  box-shadow: 5px 6px 10px 0px #c2c2c2;
}
.btn-siganos-pr p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}
.btn-siganos-pr:hover {
  background-color: #2d69bd;
}
.btn-siganos-pr:active {
  position: relative;
  top: 1px;
}
.duarte-firma {
  width: 265px;
  margin: 50px auto 0;
  font-family: sans-serif;
  font-size: 12.5px;
  line-height: 1.9;
  color: #fff;
  text-align: center;
  background: #28539c;
  border-radius: 8px;
}
.duarte-firma a {
  color: #fff;
}

@media only screen and (max-width: 1024px){
  .nombre-bx h6{
    font-size: 13px;
    letter-spacing: 6px;
  }
  .nombre{
    font-size: 62px;
  }
  .br1024{
    display: block;
  }
}
@media only screen and (max-width: 990px){
  .contenedor-grid{
    grid-template-columns: 57% 38%;
  }
  .foto-bx{
    top: 100px;
  }
  .nombre-bx h6{
    margin-bottom: 140px;
  }
  .nombre{
    font-size: 60px;
  }
  .espl-ind{
    font-size: 20px;
  }
  .especialidad{
    font-size: 37px;
  }
  .secc-cbz{
    font-size: 24px;
  }
  .ctc-empresa {
    font-size: 34px;
  }
  .ctc-info, .contacto-bx .fas{
    font-size: 20px;
  }
  .colapsable {
    font-size: 18px;
  }
}
@media only screen and (max-width: 880px){
  .contenedor-grid{
    grid-template-columns: 60% 35%;
  }
  .nombre-bx h6{
    margin-bottom: 120px;
  }
  .nombre{
    font-size: 55px;
  }
  .espl-ind{
    font-size: 18px;
  }
  .especialidad{
    font-size: 35px;
  }
  .br880{
    display: none;
  }
  .ctc-empresa {
    font-size: 32px;
  }
  /* .foto-bx{
    top: 140px;
  } */
}
@media only screen and (max-width: 800px){
  .pleca-alnz>.desktop{
    display: none;
  }
  /* ------ */
  .pleca-alnz>.mobile {
    display: block;
    width: 100vw;
  }
  .pleca-alnz>.mobile .logo{
    width: 45%;
    margin: 20px auto 12px;
  }
  .pleca-alnz>.mobile .logo img{
    width: 100%;
  }
  .pleca-alnz>.mobile .lema{
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: var(--gris-medio);
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .back a{
    position: absolute;
    font-size: 55px;
    margin-left: 20px;
    color: dodgerblue;
  }

  /* .header-mobile-row-1 {
    display: flex;
    align-content: center;
  }
  .fa-bars, .fa-search {
    display: block;
    visibility: visible;
    font-size: 32px;
    align-self: center;
    color: #333;
    z-index: 9;
  }
  .logo-mobile-bx {
    width: 50%;
    margin: 0 auto 15px;
  }
  .logo-mobile-bx img {
    width: 100%;
  }
  .lema-mobile-bx {
    width: 60%;
    margin: 0 auto 15px;
  }
  .lema-mobile-bx img {
    width: 100%;
  }
  .menu-mobile .fas {
    display: block;
    color: #fff;
    margin: 20px 0 0 20px;
    font-size: 22px;
    cursor: pointer;
    z-index: 11;
  } */

  /* ------- */

  /* .pleca-alnz>.mobile{
    grid-area: pleca;
    margin-top: 10px;
    padding: 0px 35px 0px 35px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 75px;
    background-color: var(--gris-claro);
    z-index: 20;
  } */
  /* .pleca-alnz>.mobile{
    grid-area: pleca;
    margin-top: 10px;
    padding: 0px 35px 0px 35px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 75px;
    background-color: var(--gris-claro);
    z-index: 20;
  } */
  /* .pleca-alnz>.mobile .logo{
    width: 50%;
    margin: 0 auto 15px;
  } */
  /* .pleca-alnz>.mobile .logo  img{
    width: 100%;
  } */
  /* .pleca-alnz>.mobile .lema{
    display: block;
    text-align: center;
  } */
  /* .top{
    margin-top: auto;
    margin-bottom: auto;
  } */
  /* .pleca-alnz>.mobile h3{
    font-size: 18px;
    font-weight: 400;
  } */
  /* .pleca-alnz>.mobile p{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: dodgerblue;
  } */
  /* .pleca-alnz>.mobile .foto{
    width: 15%;
    height: 75px;
    overflow: hidden;
    margin-left: auto;
  } */
  /* .pleca-alnz>.mobile .foto img{
    width: 100%;
    overflow: hidden;
  } */
  .nombre-bx{
    grid-row: 3;
    grid-column: 1 / span 2;
  }
  .foto-col{
    grid-row: 2;
    grid-column: 1 / span 2;
    position: relative;
  }
  .foto-bx{
    display: none;
    position: sticky;
    top: 0;
  }
  .contacto-bx{
    grid-row: 4;
    grid-column: 1 / span 2;
  }
  .formacion-bx{
    grid-row: 5;
    grid-column: 1 / span 2;
  }
  .experiencia-bx{
    grid-row: 6;
    grid-column: 1 / span 2;
  }
  .colaboraciones-bx{
    grid-row: 7;
    grid-column: 1 / span 2;
  }
}