.hv-bck:hover {
  background: #136bc0;
}
.hv-txt:hover{
  color: slategrey;
}
.hv-color:hover{
  color: slategrey;
}
.hv-trns-1:hover {
  transform: translateY(-1%);
}
.hv-trns-5:hover {
  transform: translateY(-5%);
}
.w15{
  width: 15%;
}
.w50{
  width: 50%;
}
.alnz .contenedor {
  width: 95vw;
  max-width: 1100px;
  margin: 0 auto;
}
.alnz .pleca-alnz>.mobile {
  display: none;
}
.alnz .pleca-alnz>.foto {
  overflow: hidden;
}
.alnz .pleca-alnz>.foto img {
  width: 100%;
  display: block;
}
.alnz .pleca-alnz>.desktop {
  display: flex;
  background: var(--gris-claro);
  z-index: 10;
  position: relative;
  padding-right: 95px;
}
.alnz .inicio{
  font-size: 16px;
  font-family: 600;
  line-height: 2;
  letter-spacing: 2px;
  padding: 0 20px;
  color: white;
  background: dodgerblue;
}
.alnz .pleca-alnz>.desktop .lema {
  width: 100%;
  font-size: 15.5px;
  font-weight: 300;
  letter-spacing: 12px;
  text-transform: uppercase;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  color: #aaa;
}
.alnz .pleca-alnz>.desktop .logo {
  width: 95px;
  height: 75px;
  background: var(--gris-claro);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.alnz .pleca-alnz .logo img {
  height: 65%;
}
.alnz .contenedor-grid {
  width: 92vw;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 52% 43%;
  grid-template-rows: repeat(24, auto);
  gap: 0px 5%;
  grid-auto-flow: row;
  grid-template-areas:
    "nombre foto"
    "nombre foto"
    "nombre foto"
    "nombre foto"
    "nombre foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "contacto foto"
    "formacion foto"
    "formacion foto"
    "experiencia foto"
    "experiencia foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto"
    "colaboraciones foto";
}
.alnz .foto-col {
  grid-area: foto;
}
.alnz .foto-bx {
  position: sticky;
  top: 0;
}
.alnz .foto-bx img {
  width: 100%;
}
.br1024 {
  display: none;
}
.alnz .agende {
  font-size: 20px;
  line-height: 1.3;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  padding: 10px 10px 15px;
  background-color: #db813f;
  position: absolute;
  margin-bottom: 20px;
}
.alnz .agende a {
  color: white;
}
.alnz .nombre-bx {
  grid-area: nombre;
}
.alnz .nombre {
  font-size: 65px;
  line-height: 1.1;
  margin-top: 170px;
  margin-bottom: 20px;
}
.alnz .espl-ind{
  width: fit-content;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px 12px 0;
  background: dodgerblue;
  color: white;
  margin-bottom: 10px;
}
.alnz .especialidad {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.alnz .cedulas {
  font-size: clamp(0.5rem, 0.1458rem + 1.6667vw, 0.6875rem);
  /* font-size: 11px; */
  font-weight: 400;
  margin-bottom: 3px;
}
.alnz .br480 {
  display: none;
}
.alnz .contacto-bx {
  grid-area: contacto;
  margin-top: 50px;
}
.alnz .seccCbz {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}
.alnz .ctc-empresa {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
}
.alnz .contacto-bx .fas{
  font-size: 22px;
  color: #999;
}
.alnz .ctc-info {
  font-size: 22px;
  line-height: 1.2;
}
.alnz .colapsable {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  background-color: var(--gris-claro);
  cursor: pointer;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 15px 0 25px;
}
.active,
.colapsable:hover {
  color: white;
  background-color: #8F9491;
}
.alnz .mapa {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 25px;
}
.alnz .ctc-tel-bx a {
  display: inline-block;
  margin-right: 30px;
}
.alnz .msite {
  margin: 20px 0 30px;
}
.alnz .redes-bx {
  display: flex;
  margin-top: 25px;
  align-items: center;
}
.alnz .redes-bx>div {
  display: flex;
  flex-direction: row;
}
.alnz .redes-bx img{
  width: 50px;
  margin: 0 15px 0;
}
.alnz .click-redes {
  font-size: 16px;
  line-height: 1.2;
}
.alnz .separador{
  width: 65%;
  height: 4px;
  background: var(--azul-claro);
  margin-top: 35px;
  margin-bottom: 35px;
}
.alnz .formacion {
  width: 95%;
  grid-area: formacion;
}
.alnz .seccTxt {
  font-size: 20px;
  line-height: 1.4;
}
.alnz .experiencia {
  grid-area: experiencia;
}
.alnz .experiencia ul {
  list-style-type: disc;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 20px;
}
.alnz .seccTxt > li{
  margin-bottom: 10px;
  line-height: 1.4;
}

/* 1COLABORACIONES */
.alnz .colaboraciones {
  grid-area: colaboraciones;
  margin-top: 15px;
}
.alnz .colaboraciones .seccCbzBx {
  display: flex;
  align-items: baseline;
  margin-bottom: 25px;
}
.alnz .colaboraciones .seccCbzBx h2{
  color: var(--verde-logo-1);
}
.alnz .colaboraciones .seccCbzBx div {
  width: 30%;
  margin-left: 11px;
}
.alnz .colaboraciones .seccCbzBx>div img{
  width: 100%;
}
.alnz .cards-bx{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.alnz .card {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  -webkit-font-smoothing: antialiased;
  transition: all 300ms;
  box-shadow: 1px 3px 11px rgba(0, 0, 0, 0.24);
}
.hv-card:hover {
  transform: translateY(-2%);
  box-shadow: 1px 7px 14px rgba(0, 0, 0, 0.16);
}
.cardHz {
  width: 100%;
}
.cardVl {
  width: 47.5%;
  flex-direction: column;
}
.alnz .cardHz .imgBx {
  width: 45%;
}
.alnz .cardHz .imgBx img {
  width: 100%;
  display: block;
}
.alnz .cardHz .cbzBx {
  width: 47%;
  margin-left: 20px;
  margin-bottom: 15px;
}
.alnz .cbzBx .ind {
  width: fit-content;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 3px;
  padding: 4px 8px;
  margin-bottom: 12px;
  background-color: #db813f;
}
.alnz .card .cbzBx .blz {
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--verde-logo-1);
}
.alnz .card .cbzBx .cbz {
  font-size: 26px;
  line-height: 1.1;
}
.alnz .cardVl .imgBx {
  width: 100%;
  overflow: hidden;
}
.alnz .cardVl .imgBx img {
  width: 100%;
}
.alnz .cardVl .cbzBx {
  width: 87%;
  margin-bottom: 15px;
}
.alnz .cardVl .ind {
  margin-top: -5px;
}
.alnz .entrevista .ind {
  margin-top: initial;
  background-color: var(--verde-logo-1);
}
.alnz .entrevista .cbzBx {
  width: 87%;
}
.alnz .video-bx {
  margin-bottom: 35px;
}
.separador-footer {
  width: 95vw;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
  height: 3px;
  color: var(--gris-medio);
  background-color: var(--gris-medio);
}
/* FOOTER */
.footer-row-1 {
  display: none;
}
.footer-row-2{
  width: 95vw;
  max-width: 1100px;
  margin: 50px auto 0;
  background: #fff;
}
.footer-cont {
  padding: 0;
}
.anunciese {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--verde-logo-1)
}
.footer-tel {
  font-size: 17px;
}
.footer-email {
  font-size: 15px;
  margin-bottom: 6px;
}
.footer-direccion {
  font-size: 13px;
}
.footer-col-3 p {
  font-size: 13px;
  margin-bottom: 5px;
}
.btn-siganos {
  width: 160px;
  height: 60px;
}
.btn-siganos p {
  font-size: 16px;
  color: #fff;
}
.duarte-firma {
  background: initial;
}
.duarte-firma a {
  color: #777;
}
@media only screen and (max-width: 1024px){
  .alnz .nombre{
    font-size: 62px;
  }
  .br1024{
    display: block;
  }
  .footer-cont {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 990px) {
  .alnz .pleca-alnz>.desktop .lema{
    letter-spacing: 8px;
  }
  .alnz .contenedor-grid{
    grid-template-columns: 57% 38%;
  }
  .alnz .foto-bx{
    top: 100px;
  }
  .alnz .nombre{
    font-size: 60px;
  }
  .alnz .espl-ind{
    font-size: 20px;
  }
  .alnz .especialidad{
    font-size: 37px;
  }
  .alnz .seccCbz {
    font-size: 24px;
  }
  .alnz .ctc-empresa {
    font-size: 34px;
  }
  .alnz .ctc-info,
  .alnz .contacto-bx .fas{
    font-size: 20px;
  }
  .alnz .colapsable {
    font-size: 16px;
  }
}
@media only screen and (max-width: 920px) {
  .footer-col-3 a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 880px) {
  .alnz .pleca-alnz>.desktop .lema {
    font-size: 14px;
  }
  .alnz .contenedor-grid{
    grid-template-columns: 60% 35%;
  }
  .alnz .nombre {
    font-size: 55px;
    margin-top: 140px;
  }
  .alnz .espl-ind{
    font-size: 17px;
  }
  .alnz .especialidad{
    font-size: 33px;
  }
  .br880 {
    display: none;
  }
  .alnz .seccCbz{
    font-size: 22px;
  }
  .alnz .ctc-empresa {
    font-size: 28px;
  }
  .alnz .ctc-info,
  .alnz .contacto-bx .fas{
    font-size: 18px;
  }
  .alnz .cbzBx .ind {
    font-size: 12px;
  }
  .alnz .card .cbzBx .blz {
    font-size: 14px;
  }
  .alnz .card .cbzBx .cbz {
    font-size: 24px;
  }
  .alnz .seccTxt {
  font-size: 18px;
  }
}
@media only screen and (max-width: 820px) {
  .anunciese {
    font-size: 15px;
  }
  .footer-tel {
    font-size: 16px;
  }
  .footer-email {
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  .alnz .pleca-alnz>.desktop {
    display: none;
  }
  .alnz .pleca-alnz>.mobile {
    display: block;
    width: 100vw;
    margin: 0 auto;
  }
  .alnz .pleca-alnz>.mobile .logo {
    width: 45%;
    margin: 20px auto 12px;
  }
  .alnz .pleca-alnz>.mobile .logo img {
    width: 100%;
  }
  .alnz .pleca-alnz>.mobile .lema {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: var(--gris-medio);
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .alnz .back a {
    position: absolute;
    font-size: 45px;
    margin-left: 25px;
    color: dodgerblue;
  }
  .alnz .contenedor-grid {
    width: 100vw;
    grid-template-columns: 100%;
    grid-template-rows: repeat(33, auto);
    gap: 0px 5%;
    grid-auto-flow: row;
    grid-template-areas:
      "foto"
      "foto"
      "foto"
      "foto"
      "foto"
      "nombre"
      "nombre"
      "nombre"
      "nombre"
      "nombre"
      "contacto"
      "contacto"
      "contacto"
      "contacto"
      "contacto"
      "formacion"
      "formacion"
      "formacion"
      "formacion"
      "formacion"
      "experiencia"
      "experiencia"
      "experiencia"
      "experiencia"
      "experiencia"
      "colaboraciones"
      "colaboraciones"
      "colaboraciones"
      "colaboraciones"
      "colaboraciones"
      "colaboraciones"
      "colaboraciones"
      "colaboraciones";
  }
  .alnz .foto-col{
    position: initial;
    background-color: var(--gris-claro);
  }
  .alnz .agende{
    display: none;
  }
  .alnz .foto-bx{
    position: initial;
    width: 50%;
    margin: 0 auto;
  }
  .alnz .nombre-bx{
    padding: 0 25px;
    background-color: var(--gris-claro);
  }
  .alnz .nombre{
    text-align: center;
    margin-top: 20px;
  }
  .alnz .espl-ind {
    margin: 0 auto 10px;
  }
  .alnz .especialidad,
  .alnz .cedulas {
    text-align: center;
  }
  .alnz .nombre-bx :last-child {
    margin-bottom: 15px;
  }
  .alnz .contacto-bx {
    padding: 0 25px;
    margin-top: 25px;
  }
  .alnz .seccCbz,
  .alnz .ctc-empresa,
  .alnz .ctc-info {
    text-align: center;
  }
  .alnz .colaboraciones .seccCbzBx {
    justify-content: center;
  }
  .alnz .colaboraciones .seccCbzBx div {
    width: 25%;
  }
  .alnz .ctc-info {
    font-size: 20px;
  }
  .alnz .ctc-tel-bx {
    display: flex;
    justify-content: center;
  }
  .alnz .ctc-tel-bx .ctc-info {
    font-size: 22px;
  }
  .alnz .separador{
    margin: 35px auto 35px;
  }
  .alnz .redes-bx {
    flex-wrap: wrap;
    justify-content: center;
  }
  .alnz .click-redes {
    margin-top: 10px;
  }
  .alnz .formacion,
  .alnz .experiencia,
  .alnz .colaboraciones {
    width: 90%;
    margin: 0 auto;
  }
  .alnz .seccTxt {
    font-size: 20px;
    text-align: center;
  }
  .alnz .experiencia ul {
    list-style: none;
    color: magenta;
  }
  .alnz .experiencia ul li {
    margin-bottom: 10px;
  }
  .alnz .cbzBx .ind {
    font-size: 13px;
  }
  .alnz .card .cbzBx .blz {
    font-size: 16px;
  }
  .alnz .card .cbzBx .cbz {
    font-size: 26px;
  }
  /* FOOTER */
  .separador-footer {
    margin-top: 10px;
  }
  .footer-row-2{
    width: 90vw;
    margin-top: 25px;
  }
}
@media only screen and (max-width: 650px) {
  .alnz .pleca-alnz>.mobile .logo{
    width: 50%;
    margin: 20px auto 12px;
  }
  .alnz .pleca-alnz>.mobile .lema  {
    font-size: 12px;
  }
  .alnz .click-redes {
    text-align: center;
  }
}
@media only screen and (max-width: 520px) {
  .alnz .pleca-alnz>.mobile .logo{
    width: 55%;
    margin: 20px auto 12px;
  }
  .alnz .foto-bx {
    width: 60%;
  }
  .alnz .nombre{
    font-size: 50px;
  }
  .alnz .seccCbz{
    font-size: 20px;
  }
  .alnz .seccTxt {
    font-size: 18px;
  }
  .alnz .colaboraciones .seccCbzBx div {
    width: 28%;
  }
  .cardHz {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .alnz .cardHz .imgBx,
  .alnz .cardHz .cbzBx {
    width: 100%;
  }
  .cardVl {
    width: 100%;
    flex-direction: column;
  }
  .alnz .cardHz .cbzBx,
  .alnz .cardVl .cbzBx {
    width: 90%;
  }
  .alnz .card .cbzBx .cbz {
    font-size: 26px;
  }
}
@media only screen and (max-width: 480px) {
  .alnz .back a {
    font-size: 40px;
  }
  .alnz .nombre {
    font-size: 45px;
  }
  .alnz .br480 {
    display: block;
  }
  .alnz .ctc-empresa {
    font-size: 26px;
  }
  .alnz .ctc-info {
    font-size: 18px;
  }
  .alnz .ctc-tel-bx {
    display: flex;
    flex-direction: column;
  }
  .alnz .ctc-tel-bx .ctc-info,
  .alnz .msite a {
    font-size: 20px;
  }
  .alnz .ctc-tel-bx a:first-child {
    margin-bottom: 15px;
  }
  .alnz .seccTxt {
    font-size: 17px;
  }
}
@media only screen and (max-width: 420px) {
  .alnz .back a {
    font-size: 36px;
  }
  .alnz .pleca-alnz>.mobile .lema  {
    font-size: 10px;
    letter-spacing: 2px;
  }
  .alnz .foto-bx {
    width: 65%;
  }
  .alnz .nombre {
    font-size: 40px;
  }
  .alnz .espl-ind{
    font-size: 16px;
  }
  .alnz .especialidad {
    font-size: 28px;
  }
  .alnz .br480 {
    display: block;
  }
  .alnz .cedulas {
    /* font-size: 9px; */
  }
  .alnz .ctc-empresa {
    font-size: 26px;
  }
  .alnz .ctc-tel-bx {
    display: flex;
    flex-direction: column;
  }
  .alnz .colaboraciones .seccCbzBx {
    flex-direction: column;
    justify-content: center;
    align-items: initial;
  }
  .alnz .colaboraciones .seccCbzBx div {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 380px) {
  .alnz .click-redes {
    font-size: 14px;
  }
}
@media only screen and (max-width: 340px) {
  .alnz .back a {
    font-size: 33px;
  }
  .alnz .nombre{
    font-size: 34px;
  }
  .alnz .cedulas {
    /* font-size: 8px; */
  }
  .alnz .ctc-empresa {
    font-size: 23px;
  }
 .alnz .msite a {
    font-size: 19px;
  }
  .alnz .cbzBx .ind {
    font-size: 12px;
  }
  .alnz .card .cbzBx .blz {
    font-size: 15px;
  }
  .alnz .card .cbzBx .cbz {
    font-size: 24px;
  }
  .footer-tel {
    font-size: 16px;
  }
  .footer-email {
    font-size: 14px;
  }
  .footer-direccion {
    font-size: 12px;
  }
}
@media only screen and (max-width: 320px) {
  .alnz .back a {
    font-size: 30px;
  }
  .alnz .nombre {
    font-size: 32px;
  }
  .alnz .especialidad {
    font-size: 26px;
  }
  .alnz .seccCbz{
    font-size: 18px;
  }
  .alnz .ctc-info {
    font-size: 17px;
  }
  .alnz .ctc-tel-bx .ctc-info {
    font-size: 19px;
  }
  .alnz .msite a {
    font-size: 17px;
  }
  .alnz .seccTxt {
    font-size: 16px;
  }
}
