.hvTxt:hover{
  color: slategrey;
}
.hvColor:hover{
  color: slategrey;
}
.hvTrns-1:hover {
  transform: translateY(-1%);
}
.hvTrns-5:hover {
  transform: translateY(-5%);
}
.cntndr1100 {
  width: 92vw;
  max-width: 1100px;
  margin: 0 auto;
}
.sdcHdr .dsktp {
  display: flex;
  background: var(--gris-claro);
  z-index: 10;
  position: relative;
  padding-right: 95px;
}
.sdcHdr .dsktp .inicio {
  font-size: 16px;
  font-family: 600;
  line-height: 2;
  letter-spacing: 2px;
  padding: 0 20px;
  color: white;
  background-color: dodgerblue;
}
.sdcHdr .dsktp .inicio:hover {
  background: #136bc0;
}
.sdcHdr .dsktp .slogan {
  font-size: 15.5px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  margin: auto auto;
  color: #aaa;
}
.sdcHdr .dsktp .logo {
  width: 95px;
  height: 75px;
  background: var(--gris-claro);
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.sdcHdr .dsktp .logo img {
  height: 65%;
}
.sdcHdr .mbl {
  display: none;
}

@media only screen and (max-width: 768px){
  .sdcHdr .dsktp {
    display: none;
  }
  .sdcHdr .mbl {
    display: block;
    width: 100vw;
    margin: 0 auto;
  }
  .sdcHdr .mbl .logo {
    width: 50%;
    margin: 20px auto 12px;
  }
  .sdcHdr .mbl .logo img {
    width: 100%;
  }
  .sdcHdr .mbl .back a {
    position: absolute;
    font-size: 45px;
    margin-left: 25px;
    color: dodgerblue;
  }
}
.hxpCont {
  display: flex;
  justify-content: space-between;
}
.hxpCont .infoCol {
  width: 52%;
}
.hxpCont .fotoCol {
  width: 45%;
}
.hxpCont .fotoBx img {
  width: 100%;
}
.hxpCont .fotoBx {
  position: sticky;
  top: 0;
}
.hxpCont .fotoBx .agende {
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 10px 15px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  background-color: #db813f;
  position: absolute;
  margin-bottom: 20px;
}
.hxpCont .fotoBx .agende a {
  color: #fff;
}
.hxpCont .infoCol .nombre {
  /* font-size: 65px; */
  font-size: clamp(2rem, 4.69vw + 1.06rem, 4.06rem);
  line-height: 1.1;
  margin-top: 230px;
  margin-bottom: 25px;
}
.hxpCont .infoCol .esplInd {
  width: fit-content;
  font-size: 23px;
  font-size: clamp(1rem, 0.99vw + 0.8rem, 1.44rem);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .75px;
  padding: 2px 12px 0;
  background: dodgerblue;
  color: white;
  margin-bottom: 10px;
}
.hxpCont .infoCol .espl {
  /* font-size: 40px; */
  font-size: clamp(1.63rem, 1.99vw + 1.23rem, 2.5rem);
  font-weight: 700;
  line-height: 1.1;
  color: #777;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hxpCont .infoCol .cedulas {
  /* font-size: 14px; */
  font-size: clamp(0.69rem, 0.43vw + 0.6rem, 0.88rem);
  font-weight: 400;
  margin-bottom: 4px;
}
.hxpCont .infoCol .ctcBx {
  margin-top: 50px;
}
.hxpCont .infoCol .seccCbz {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 5px;
}
.hxpCont .infoCol .ctcEmpresa {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
}
.hxpCont .infoCol .fas {
  font-size: 22px;
  color: #999;
}
.hxpCont .infoCol .ctcInfo {
  font-size: 22px;
  line-height: 1.2;
}
.hxpCont .infoCol .colapsable {
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  background-color: var(--gris-claro);
  cursor: pointer;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 15px 0 25px;
}
.active,
.hxpCont .colapsable:hover {
  color: white;
  background-color: #8F9491;
}
.hxpCont .infoCol .mapa {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  margin-bottom: 25px;
}
.hxpCont .infoCol .ctcTelBx a {
  display: inline-block;
  margin-right: 30px;
}
.hxpCont .infoCol .site {
  margin: 20px 0 30px;
}
.hxpCont .infoCol .rdsBx {
  display: flex;
  margin-top: 25px;
  align-items: center;
}
.hxpCont .infoCol .rdsBx div {
  display: flex;
  /* flex-direction: row; */
}
.hxpCont .infoCol .rdsBx img {
  width: 50px;
  margin: 0 15px 0;
}
.hxpCont .infoCol .rdsBx p {
  font-size: 16px;
  line-height: 1.2;
}
.hxpCont .infoCol .separador {
  width: 65%;
  height: 4px;
  background: var(--azul-claro);
  margin-top: 35px;
  margin-bottom: 35px;
}