* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.f1 {
  font-family: "Nunito Sans", sans-serif;
}
.f2 {
  font-family: "Oswald", sans-serif;
}
.f3 {
  font-family: "Roboto Condensed", sans-serif;
}
.guion {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
:root {
  --naranja-claro: #ebb730;
  --naranja-oscuro: #db813f;
  --azul-claro: #0094d7;
  --azul-oscuro: #344497;
  --morado: #612f8c;
  --verde: #6dab51;
  --rojo-oscuro: #953829;
  --rojo: #b3272d;
  --verde-logo-1: #275c6d;
  --gris-claro: #e6e6de;
  --gris-medio: #bbbbae;
  --gris-oscuro: #6d6d70;
}
.rojoc {background: #c3242b;}
.rojoo {background: #a1262a;}
.verde {background: #6dab51;}
.azulo {background: #344497;}
.azulc {background: #0094d7;}
.naranjao {background: #db813f;}
.naranjac {background: #ebb730;}
.morado {background: #612f8c;}
.verde1 {background: #275c6d;}
.grisc {background: #e6e6de}
.grism {background: #bbbbae}
.griso {background: #6d6d70}
.lbco{color: white;}
.contenedor {
  width: 95vw;
  max-width: 1100px;
}
/* HEADER */
header{
  margin: 0 auto;
}
.header-cont{
  display: flex;
  height: 170px;
  padding: 30px 30px 30px;
  justify-content: space-between;
  align-items: center;
  background: #dbdbd2;
}
.header-col-1 {
  flex-basis: 15%;
  margin-right: 1%;
}
.revista-bs-logo-bx {
  width: 100%;
}
.revista-bs-logo-bx img {
  width: 100%;
}
.header-col-2{
  flex-basis: 70%;
}
.header-col-2 h1{
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 10px;
  margin-top: 25px;
}
.header-col-2 h1 span{
  font-size: 45px;
  font-weight: 700;
}
.header-col-2 h3{
  font-size: 33px;
  font-weight: 600;
  /* letter-spacing: 1px; */
  margin-top: -10px;
}
.header-col-3{
  flex-basis: 10%;
}
.header-col-3 img{
  width: 100%;
  justify-self: center;
}

/* NOTA */
article{
  margin: 0 auto;
  padding: 50px 30px 20px;
  background: #ecebe8;
}
.nombre-bx{
  display: flex;
  /* background: rosybrown; */
  align-items: flex-end;
  margin-bottom: 5px;
}
.diabetes-circulo-bx{
  width: 60px;
  margin-right: 20px;
}
.diabetes-circulo-bx img{
  width: 100%;
}
.nombre{
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #ff6b5b;
}
article h1{
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.sumario-esp{
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 30px;
}
 /* COMPARTIR */
.compartir-bx {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.fa-share {
  font-size: 18px;
  margin-right: 5px;
  color: #9999a1;
}
.compartir {
  font-size: 16px;
  margin-right: 15px;
  color: #66666e;
}
.whatsapp-compartir {
  font-size: 25px;
  color: #25d366;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.facebook-compartir {
  font-size: 25px;
  color: #1677f2;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.envelope-compartir {
  font-size: 23px;
  color: #676869;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.link-compartir {
  font-size: 20px;
  color: #676869;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}

/* CREDITO */
.credito-rd-bx {
  width: 100%;
  margin-bottom: 20px;
}
.credito-autor {
  font-size: 15px;
  line-height: 1.3;
}
.credito-autor strong {
  color: var(--verde-logo-1);
}
.credito-autor i {
  font-size: 13px;
}

/* TEXTO */
.esp-bx{
  display: grid;
  grid-template-columns: 60% 40%;
}
.col-60{
  grid-column: 1/2;
  width: 98%;
}
.texto-esp{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6;
}
.texto-esp p {
  margin-bottom: 7px;
}
.texto-esp p span {
  font-size: 20px;
  font-weight: 700;
}
.descanso-esp {
  font-size: 23px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--verde-logo-1);
  margin-top: 40px;
}

/* ASIDE */
.col-40{
  grid-column: 2/3;
  width: 92%;
  justify-self: right;
  position: relative;
}
.dr-foto-bx{
  width: 100%;
  height: 400px;
  background: #5b88c5;
  border-radius: 20px;
  margin-top: 20px;
}
.dr-foto-bx img{
  width: 100%;
  margin-top: -80px;
}

/* FORMACION */
.formacion{
  width: 100%;
  background: #ff6b5b;
  border-radius: 20px;
  padding: 25px;
  margin-top: 250px;
}
.formacion p{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: white;
}
.uni-logo{
  width: 80px;
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
}

/* CONOZCA */
.conozca-bx{
  width: 100%;
  /* display: flex; */
  background: #344497;
  border-radius: 20px;
  /* margin-top: 100px; */
  align-self: flex-end;
  bottom: 0;
  position: absolute;

  padding: 25px 0 25px 25px;
}
/* .conozca-info-bx{
  width: 80%;
  float: left;
  padding: 25px 0 25px 25px;
} */
.conozca-bx p{
  font-family: "Nunito Sans", sans-serif;
  color: white;
}
.conozca{
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.autor {
  font-size: 23px;
  line-height: 1.2;
  font-weight: 600;
  margin-bottom: 5px;
}
.autor-especialidad {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.autor-certificaciones {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 10px;
}
.autor-cedulas {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 5px;
}
.autor-empresa {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}
.autor-dom-tel {
  text-indent: -10px;
  margin-left: 25px;
  font-size: 18.5px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 10px;
}
.autor-correo {
  font-size: 17.5px;
  line-height: 1;
  font-weight: 200;
  display: block;
  margin-bottom: 7px;
  word-break: break-all;
}
.conozca-foto{
  width: 30%;
  float: right;
  height: 165px;
  /* margin-top: -55px; */
  margin-right: 10px;
  border-radius: 15px;
}
.conozca-foto img{
  width: 100%;
}

