* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.f1 {
  font-family: "Nunito Sans", sans-serif;
}
.f2 {
  font-family: "Oswald", sans-serif;
}
.f3 {
  font-family: "Roboto Condensed", sans-serif;
}
.f4{
  font-family: 'Libre Baskerville', serif;
}
.guion {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
:root {
  --naranja-claro: #ebb730;
  --naranja-oscuro: #db813f;
  --azul-claro: #0094d7;
  --azul-oscuro: #344497;
  --morado: #612f8c;
  --verde: #6dab51;
  --rojo-oscuro: #953829;
  --rojo: #b3272d;
  --verde-logo-1: #275c6d;
  --gris-claro: #e6e6de;
  --gris-medio: #bbbbae;
  --gris-oscuro: #6d6d70;
}
.rojoc {background: #c3242b;}
.rojoo {background: #a1262a;}
.verde {background: #6dab51;}
.azulo {background: #344497;}
.azulc {background: #0094d7;}
.naranjao {background: #db813f;}
.naranjac {background: #ebb730;}
.morado {background: #612f8c;}
.verde1 {background: #275c6d;}
.grisc {background: #e6e6de}
.grism {background: #bbbbae}
.griso {background: #6d6d70}
.lbco{color: white;}

.contenedor {
  width: 100vw;
  max-width: 1100px;
}

/* HEADER */
header{
  margin: 0 auto;
}
.header-mobile-cont{
  display: none;
}
.header-desktop-cont{
  display: flex;
  padding: 30px 30px 0px 30px;
  justify-content: space-between;
  align-items: center;
  background: #fae5b6;
}
.header-col-1 {
  width: 15%;
  margin-right: 3%;
}
.revista-bs-logo-bx {
  width: 100%;
}
.revista-bs-logo-bx img {
  width: 100%;
}
.header-col-2{
  width: 60%;
}
.indicador {
  font-size: 23px;
  font-weight: 400;
  color: #555;
  margin-bottom: -5px;
}
.header-col-2 h1{
  font-size: 55px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: -5px;
  text-transform: uppercase;
}
/* .header-col-2 h1 span{
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 10px;
} */
.header-col-2 h3{
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}
.header-col-3{
  width: 16%;
  height: 100%;
  margin-right: 25px;
}
.header-col-3 img{
  width: 100%;
}
.header-col-4{
  flex-basis: 4%;
}
.flecha-svg-der{
  width: 45px;
  color: #bbbbae;
}
.flecha-svg-der:hover {
  color: #a7a690;
  transform: translateY(-2%);
}
.remate-esp{
  font-size: 14px;
  color: #dbdbd2;
}
/* NOTA */
article{
  margin: 0 auto;
  padding: 30px 30px 80px;
  background: #f7eede;
}
.dr-foto-bx-vd420{
  display: none;
}
.migas {
  margin-bottom: 30px;
}
.migas a, .migas p{
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
}
.migas .fa-angle-right{
  font-size: 15px;
  margin-right: unset;
}
.nombre-bx{
  margin-bottom: 20px;
}
.nombre{
  font-size: 27px;
  line-height: 1.1;
  font-weight: 600;
  text-transform: uppercase;
  display: inline;
  color: #729a4a;
}
.brvd480{
  display: none;
}
article h1{
  font-family: 'Libre Baskerville', serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  /* text-transform: uppercase; */
  margin-bottom: 10px;
}
.sumario-esp{
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 30px;
}
.dr-foto-bx-vd840{
  display: none;
}
.dr-foto-bx-vd680{
  display: none;
}
 /* COMPARTIR */
.compartir-bx {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.fa-share {
  font-size: 18px;
  margin-right: 5px;
  color: #9999a1;
}
.compartir {
  font-size: 16px;
  margin-right: 15px;
  color: #66666e;
}
.whatsapp-compartir {
  font-size: 25px;
  color: #25d366;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.facebook-compartir {
  font-size: 25px;
  color: #1677f2;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.envelope-compartir {
  font-size: 23px;
  color: #676869;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.link-compartir {
  font-size: 20px;
  color: #676869;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}

/* CREDITO */
.credito-rd-bx {
  width: 100%;
  margin-bottom: 20px;
}
.credito-autor {
  font-size: 15px;
  line-height: 1.3;
}
.credito-autor strong {
  color: var(--verde-logo-1);
}
.credito-autor i {
  font-size: 13px;
}

/* TEXTO */
.txt-esp-bx{
  display: flex;
  justify-content: space-between;
}
.col-60{
  width: 58%;
}
.txt-esp{
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}
.txt-esp p {
  margin-bottom: 7px;
}
.txt-esp p span {
  font-size: 20px;
  font-weight: 700;
}
.descanso-esp {
  font-size: 23px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--verde-logo-1);
  margin-top: 40px;
}
.txt-esp-preg{
  font-weight: 500;
  margin-top: 20px;
}
/* ASIDE */
.col-40{
  width: 38%;
  float: right;
  right: 0;
  position: relative;
}
.dr-foto-bx{
  width: 100%;
  height: 500px;
  background-image: url(/2021/12/imgs/259-back-esp.png);
  margin-bottom: auto;
}
.dr-foto-bx img{
  width: 100%;
  margin-top: -55px;
}
.col-40-row-2{
  position: absolute;
  bottom: 0;
}
.formacion-bx{
  width: 100%;
  background: #ebcd89;
  padding: 25px;
}
.frc{
  font-size: 27px;
  font-weight: 600;
  color: #35644d;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  display: inline;
}
.uni-logo{
  width: 70px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}
.frt{
  font-size: 18px;
  line-height: 1.4;
  color: #35644d;
}
/* CONTACTO-AUTOR */
.ctc-bx{
  width: 100%;
  padding: 25px;
  background: #35644d;
  margin-top: 100px;
}
.ctc-bx p, .ctc-bx a{
  font-family: "Nunito Sans", sans-serif;
  color: white;
}
.ctc-conozca{
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.ctc-nombre {
  font-size: 23px;
  line-height: 1.2;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 5px;
  text-transform: unset;
}
.ctc-especialidad {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}
.ctc-certificaciones {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 10px;
}
.ctc-cedulas {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 5px;
}
.ctc-empresa {
  font-size: 21px;
  font-weight: 400;
}
.ctc-dom-tel {
  text-indent: -10px;
  margin-left: 25px;
  font-size: 16.5px;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 8px;
}
.ctc-correo {
  font-size: 16.5px;
  line-height: 1;
  font-weight: 200;
  display: block;
  margin-bottom: 7px;
  word-break: break-all;
}
.ctc-foto{
  width: 30%;
  float: right;
  margin-left: 10px;
}
.ctc-foto img{
  width: 100%;
}
.clear {
  clear: both;
}

/* FOOTER */
footer{
  margin: 0 auto;
}
.footer-row-1 {
  background: var(--verde-logo-1)
}
.footer-mision {
  font-size: 19px;
  line-height: 2.4;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
.footer-row-2 {
  height: auto;
  background: #e8e5e0;
}
.footer-cont {
  padding: 20px 30px 0;
  display: flex;
}
.footer-col-2 {
  width: 35%;
  margin: 0 30px 0 70px;
}
.footer-BSlogo-bx {
  width: 150px;
}
.footer-BSlogo-bx img {
  width: 100%;
}
.anunciese, .footer-tel {
  font-size: 19px;
  margin-bottom: 5px;
}
.footer-icon {
  font-size: 16px;
  color: #696969;
}
.footer-email {
  font-size: 18px;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 10px;
  white-space: nowrap;
}
.footer-direccion {
  font-size: 15px;
  line-height: 1.3;
}
.footer-col-3 {
  width: 40%;
}
.footer-col-3 p {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 7px;
}
.footer-col-3 a {
  font-size: 13px;
  text-decoration: underline;
  display: inline-block;
  margin-right: 5px;
}
.btn-siganos {
  width: 170px;
  height: 70px;
  border: 3px solid #eee;
  border-radius: 6px;
  background: #1778f2;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
  padding-top: 6px;
  box-shadow: 5px 6px 10px 0px #c2c2c2;
}
.btn-siganos p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}
.btn-siganos:hover {
  background-color: #2d69bd;
}
.btn-siganos:active {
  position: relative;
  top: 1px;
}
.btn-siganos-pr {
  display: none;
  width: 150px;
  height: 70px;
  border: 3px solid #eee;
  border-radius: 6px;
  background: #1778f2;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
  padding-top: 6px;
  box-shadow: 5px 6px 10px 0px #c2c2c2;
}
.btn-siganos-pr p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}
.btn-siganos-pr:hover {
  background-color: #2d69bd;
}
.btn-siganos-pr:active {
  position: relative;
  top: 1px;
}
.duarte-firma {
  width: 265px;
  margin: 50px auto 0;
  font-family: sans-serif;
  font-size: 12.5px;
  line-height: 1.9;
  color: #fff;
  text-align: center;
  background: #28539c;
  border-radius: 8px;
}
.duarte-firma a {
  color: #fff;
}

/*----- MEDIAS ------*/
@media screen and (max-width: 1100px) {
  /* HEADER */
  .indicador {
    font-size: 21px;
  }
  .header-col-2 h1{
    font-size: 50px;
  }
  .header-col-2 h3{
    font-size: 2.4vw;
  }
}
@media screen and (max-width: 1024px) {
  /* HEADER */
  .flecha-svg-der{
    width: 40px;
  }
  /* FOOTER */
  .footer-col-2 {
    margin: 0 25px 0 40px;
  }
  .btn-siganos {
    margin-left: 35px;
  }
}
@media screen and (max-width: 1000px) {
  /* ASIDE */
  .ctc-foto{
    width: 70%;
    float: unset;
    margin: -15px auto 20px;
  }
}
@media screen and (max-width: 980px){
  /* HEADER */
  .header-cont{
    padding-top: 30px;
  }
  .indicador {
    font-size: 20px;
  }
  .header-col-2 h1{
    font-size: 47px;
  }
  .flecha-svg-der{
    width: 35px;
  }
  /* FOOTER */
  .footer-email {
    font-size: 17px;
  }
  .footer-direccion {
    font-size: 14px;
  }
  .footer-col-3 p {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .footer-col-3 a {
    font-size: 13px;
  }
  .btn-siganos {
    margin-left: 30px;
  }
}
@media screen and (max-width: 920px){
  /* HEADER */
  .indicador {
    font-size: 19px;
  }
  .flecha-svg-der{
    width: 30px;
  }
  /* 92NOTA */
  article{
    padding-top: 20px;
  }
  .nombre{
    font-size: 25px;
  }
  article h1{
    font-size: 55px;
  }
  .sumario-esp{
    font-size: 22px;
  }
  /* 92FOOTER */
  .footer-BSlogo-bx {
    width: 120px;
  }
  .footer-BSlogo-bx img {
    width: 100%;
  }
  .footer-col-2 {
    margin: 0 25px 0 35px;
  }
  .footer-email {
    font-size: 16px;
  }
  .btn-siganos {
    width: 140px;
    height: 64px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .btn-siganos p {
    font-size: 15px;
  }
}
@media screen and (max-width: 840px){
  /* HEADER */
  .indicador{
    font-size: 18px;
  }
  /* NOTA */
  .txt-esp-bx{
    display: initial;
  }
  .col-60{
    width: 100%;
  }
  .txt-esp{
    margin-bottom: 40px;
  }
  .dr-foto-bx-vd840{
    display: block;
    background-image: url(/2021/12/imgs/259-back-esp.png);
    width: 30%;
    height: 300px;
    float: right;
    margin-top: -40px;
    margin-left: 20px;
  }
  .dr-foto-bx-vd840 img{
    width: 100%;
    margin-top: -80px;
    float: right;
  }
  /* ASIDE */
  .col-40{
    float: none;
    width: 100%;
    overflow: auto;
  }
  .dr-foto-bx{
    display: none;
  }
  .col-40-row-2{
    width: 100%;
    position: initial;
  }
  .formacion-bx{
    width: 48%;
    margin-top: 0;
    float: left;
  }
  .ctc-bx{
    width: 48%;
    float: right;
    position: initial;
    margin-top: 0;
  }
  .ctc-foto{
    width: 10rem;
    margin: -15px auto 15px;
  }
}
@media screen and (max-width: 820px){
  /* NOTA */
  .sumario-esp,
  .compartir-bx {
    margin-bottom: 20px;
  }
  .header-col-2 h1{
    font-size: 45px;
  }
  /* 82FOOTER */
  .footer-col-2 {
    margin: 0 20px 0 30px;
  }
  .footer-col-3 {
    width: 35%;
  }
  .footer-email {
    font-size: 15px;
  }
}
@media screen and (max-width: 780px){
  /* HEADER */
  .header-col-1{
    margin-right: 4%;
  }
  .header-col-2{
    width: 80%;
  }
  .indicador {
    font-size: 2.3vw;
  }
  .header-col-2 h1{
    font-size: 6vw;
  }
  .header-col-2 h3{
    font-size: 2.6vw;
    margin-bottom: 10px;
  }
  .header-col-3{
    display: none;
  }
}
@media screen and (max-width: 768px){
  /* 76FOOTER */
  .footer-cont {
    padding: 25px 40px 0 ;
    flex-direction: column;
  }
  .footer-col-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .btn-siganos-pr {
    display: inline-block;
    margin: auto 0 auto;
  }
  .footer-row-2 {
    height: auto;
  }
  .footer-col-2, .footer-col-3 {
    width: 100%;
    margin: 0 auto;
  }
  .footer-tel {
    margin-right: 20px;
  }
  .footer-tel, .footer-email {
    display: inline-block;
  }
  .anunciese, .footer-tel, .footer-email {
    margin-bottom: 7px;
  }
  .footer-email {
    font-size: 19px;
  }
  .footer-direccion {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .btn-siganos {
    display: none;
  }
}
@media screen and (max-width: 680px){
  /* HEADER */
  .header-desktop-cont{
    padding: 30px 25px 0px 25px;
    display: none;
  }
  .header-mobile-cont{
    display: block;
    background: #fae5b6;
    padding: 15px 0 15px;
  }
  .header-mobile-row {
    display: flex;
    margin: 15px0 auto;
    justify-content: space-between;
  }
  .fa-bars {
    font-size: 5vw;
    margin-left: 20px;
  }
  .fa-bars, .fa-angle-right {
    display: block;
    visibility: visible;
    align-self: center;
    color: #777;
    z-index: 9;
  }
  .fa-angle-right{
    font-size: 45px;
    margin-right: 20px;
  }
  .hlmbx{
    display: flex;
    justify-content: center;
  }
  .logo-mobile-bx{
    width: 20vw;
    margin-right: 3vw;
  }
  .logo-mobile-bx img{
    width: 100%;
  }
  .esp-mobile-bx{
    align-self: center;
  }
  .indicador{
    font-size: 3vw;
  }
  .esp-mobile-bx h1{
    font-size: 7vw;
    font-weight: 500;
    margin-top: 5px;
  }
  .header-mobile-row-1 .flecha-svg-der{
    align-self: center;
  }
  .menu-mobile {
    width: auto;
    height: 100vh;
    text-align: left;
    top: 0;
    left: -500px;
    position: fixed;
    background: var(--verde-logo-1);
    z-index: 10;
    transition: 1s;
  }
  .menu-mobile ul {
    padding: 40px;
  }
  .menu-mobile li {
    display: block;
    margin-bottom: 25px;
  }
  .menu-mobile .fas {
    display: block;
    color: #fff;
    margin: 20px 0 0 20px;
    font-size: 22px;
    cursor: pointer;
    z-index: 11;
  }
  .menu-mobile ul li a {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
  }
  /* NOTA */
  article{
    padding: 25px 25px 80px;
  }
  .nombre-bx{
    display: flex;
  }
  .dr-foto-bx-vd840{
    display: none;
  }
  .dr-foto-bx-vd680{
    display: block;
    width: 45%;
    background-image: url(/2021/12/imgs/259-back-esp.png);
    float: right;
    padding-top: 15px;
    margin-top: -45px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .dr-foto-bx-vd680 img{
    width: 100%;
    display: block;
  }
  /* ASIDE */
  .formacion-bx{
    width: 100%;
    margin-bottom: 25px;
    float: none;
  }
  .ctc-bx{
    width: 100%;
    float: none;
  }
  .ctc-foto{
    width: 30%;
    float: right;
    margin-left: 10px;
  }
}
@media screen and (max-width: 580px){
  /* NOTA */
  .nombre{
    font-size: 24px;
  }
  article h1{
    font-size: 50px;
    margin-bottom: 10px;
  }
  .sumario-esp{
    font-size: 20px;
    line-height: 1.4;
  }
}
@media screen and (max-width: 520px){
  /* 52HEADER */
  .fa-bars {
    font-size: 28px;
    margin-left: 20px;
  }
  .fa-angle-right{
    font-size: 38px;
    margin-right: 20px;
  }
  /* 52NOTA */
  .migas {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .migas  .fa-angle-right{
    font-size: 12px;
  }
  /* 52FOOTER */
  .duarte-firma {
    width: 225px;
    font-size: 11px;
  }
}
@media screen and (max-width: 480px){
  /* HEADER */
  .header-desktop-cont{
    padding: 30px 20px 0px 20px;
  }
  /* NOTA */
  article{
    padding: 20px 20px 80px;
  }
  .nombre{
    font-size: 22px;
  }
  .brvd480{
    display: block;
  }
  article h1{
    font-size: 45px;
    margin-bottom: 10px;
  }
  .sumario-esp{
    line-height: 1.3;
  }
  /* COMPARTIR */
  .whatsapp-compartir,
  .facebook-compartir {
    font-size: 22px;
  }
  .envelope-compartir {
    font-size: 20px;
  }
  .link-compartir {
    font-size: 17px;
  }
  /* CREDITO */
  .credito-rd-bx {
    margin-bottom: 15px;
  }
  .credito-autor {
    font-size: 13px;
  }
  .credito-autor i {
    font-size: 11px;
  }
  /* NOTA */
  .txt-esp{
    font-size: 18px;
    line-height: 1.5;
  }
  .txt-esp p {
    margin-bottom: 6px;
  }
  .txt-esp p span {
    font-size: 18px;
  }
  .descanso-esp {
    font-size: 21px;
    line-height: 1.2;
    margin-top: 30px;
  }
  /* ASIDE */
  .frt{
    font-size: 16px;
    line-height: 1.3;
  }
  /* 48FOOTER */
  .footer-cont {
    padding: 25px 30px 0;
  }
  .footer-mision {
    font-size: 17px;
  }
  .btn-siganos-pr {
    width: 130px;
  }
}
@media screen and (max-width: 420px){
  /* 42HEADER MOBILE */
  .fa-bars {
    font-size: 26px;
    margin-left: 15px;
  }
  .fa-angle-right{
    font-size: 32px;
    margin-right: 15px;
  }
  /* NOTA */
  .dr-foto-bx-vd680{
    display: none;
  }
  .nombre-bx{
    width: 100%;
    background: #eccd89;
  }
  .nombre{
    font-size: 24px;
    color: #35644d;
    margin-left: 20px;
    align-self: center;
    line-height: 1.2;
  }
  .dr-foto-bx-vd420{
    display: block;
    width: 45%;
    float: right;
  }
  .dr-foto-bx-vd420 img{
    width: 100%;
    display: block;
  }
  /* ASIDE */
  .ctc-foto{
    width: 70%;
    float: unset;
    margin: -15px auto 20px;
  }
  .uni-logo{
    width: 60px;
    margin-right: 12px;
    margin-bottom: 5px;
  }
}
@media screen and (max-width: 360px){
  /* 36HEADER MOBILE */
  .fa-bars {
    font-size: 25px;
  }
  .fa-angle-right{
    font-size: 28px;
  }
   /* NOTA */
  .migas {
    font-size: 10px;
  }
  .migas  .fa-angle-right{
    font-size: 10px;
  }
  .nombre{
    font-size: 22px;
  }
  article h1{
    font-size: 40px;
    margin-bottom: 10px;
  }
  .txt-esp{
    font-size: 17px;
    line-height: 1.3;
  }
  .txt-esp p span {
    font-size: 17px;
  }
  .descanso-esp {
    font-size: 20px;
    margin-top: 20px;
  }
  /* ASIDE */
  .frc, .ctc-conozca{
    font-size: 25px;
  }
  .ctc-nombre {
    font-size: 20px;
    margin-top: 6px;
  }
  .ctc-especialidad {
    font-size: 18px;
  }
  .ctc-certificaciones {
    font-size: 13px;
    line-height: 1.3;
  }
  .ctc-cedulas {
    font-size: 12px;
    line-height: 1.3;
  }
  .ctc-empresa {
    font-size: 19px;
  }
  .ctc-dom-tel {
    margin-left: 20px;
    font-size: 14.5px;
    font-weight: 300;
  }
}
@media screen and (max-width: 340px){
  /* 34HEADER MOBILE */
  .fa-bars {
    font-size: 24px;
  }
  .fa-angle-right{
    font-size: 26px;
  }
  /* 34FOOTER */
  .footer-mision {
    font-size: 14px;
  }
  .btn-siganos-pr {
    display: none;
  }
  .btn-siganos {
    display: block;
    width: 55%;
    margin-left: 0px;
  }
  .footer-email {
    font-size: 17px;
  }
}
