* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.f1 {
  font-family: "Nunito Sans", sans-serif;
}
.f2 {
  font-family: "Oswald", sans-serif;
}
.f3 {
  font-family: "Roboto Condensed", sans-serif;
}
.guion {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
:root {
  --naranja-claro: #ebb730;
  --naranja-oscuro: #db813f;
  --azul-claro: #0094d7;
  --azul-oscuro: #344497;
  --morado: #612f8c;
  --verde: #6dab51;
  --rojo-oscuro: #953829;
  --rojo: #b3272d;
  --verde-logo-1: #275c6d;
  --gris-claro: #e6e6de;
  --gris-medio: #bbbbae;
  --gris-oscuro: #6d6d70;
}
.rojoc {background: #c3242b;}
.rojoo {background: #a1262a;}
.verde {background: #6dab51;}
.azulo {background: #344497;}
.azulc {background: #0094d7;}
.naranjao {background: #db813f;}
.naranjac {background: #ebb730;}
.morado {background: #612f8c;}
.verde1 {background: #275c6d;}
.grisc {background: #e6e6de}
.grism {background: #bbbbae}
.griso {background: #6d6d70}
.lbco{color: white;}
.contenedor {
  width: 95vw;
  max-width: 1100px;
}
.indicador {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 15px;
}
.m-0a {
  margin: 0 auto;
}
.mb-15 {
  margin-bottom: 15px;
}
.hv-txt-01:hover {
  color: slategrey;
}
.hv-trns-01:hover {
  transform: translateY(-1%);
}

/* HEADER */
header {
  margin: 0 auto;
  margin-top: 30px;
}
.fa-search {
  display: none;
  visibility: hidden;
}
.header-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-mobile-cont {
  display: none;
}
.header-col-izq {
  flex-basis: 19%;
  margin-right: 2%;
}
.revista-bs-logo-bx img {
  width: 100%;
}
.header-col-der {
  flex-basis: 82%;
}
.header-row-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.facebook {
  font-size: 15px;
  font-weight: 700;
  margin-right: 3%;
}
.facebook a {
  color: #1677f2;
}
.femeson-leyenda {
  font-size: 12px;
  line-height: 1.1;
  font-weight: 300;
  text-align: right;
  margin-right: 10px;
}
.femeson-logo-bx {
  width: 5%;
  height: auto;
}
.femeson-logo-bx img {
  width: 100%;
}
.header-row-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
.lema-bx {
  width: 65%;
}
.lema-bx img {
  width: 100%;
}
#buscador {
  width: 32%;
}
#buscador input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 4%;
  margin-bottom: 10px;
}
.menu-desktop {
  width: 98%;
  margin: 0 auto;
}
.menu-desktop ul {
  display: flex;
  justify-content: space-between;
}
.menu-desktop ul li {
  display: inline-block;
}
.menu-desktop li a {
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000100;
}
/* COVID PREV */
.covid-preventivo {
  margin: 25px auto 30px;
  background-color: red;
  line-height: 1.2;
  padding: 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.covid-preventivo p span {
  font-size: 27px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
  color: rgb(250, 240, 151);
}
.covid-preventivo p {
  font-size: 27px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
  color: white;
  text-align: center;
}
/* ESTE MES1 Preventivos */
.mes1-cont {
  display: flex;
  justify-content: space-between;
}
.mes1-col1 {
  flex-basis: 18%;
  margin-right: 2.5%;
}
.mes1-col1 img {
  width: 100%;
}
.impresa-th-bx {
  transition: all 400ms;
}
.ind-impr {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 10px;
}
.esp-edi-inda {
  font-size: 21.5px;
  margin: 4px 0 4px;
  color: var(--verde-logo-1);
}
.especial-cbz-th {
  font-size: 27.5px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 3px;
  color: black;
}
.especial-txt-th {
  font-size: 18px;
  line-height: 1.2;
  color: black;
}
.mes1-col1 hr {
  margin-top: 20px;
}
.editorial-cbz-th {
  font-size: 23px;
  line-height: 1.3;
  font-weight: 600;
  color: black;
}
/* ESTE MES Nota Mes */
.mes1-col2 {
  flex-basis: 54%;
  transition: all 400ms;
}
.mes1-top-ceja {
  font-size: 20px;
  line-height: 1.6;
  font-weight: bolder;
  text-align: center;
  color: white;
  padding: 0 15px;
  position: absolute;
  z-index: 5;
}
.mes1-top-foto-bx {
  width: 100%;
  float: left;
  overflow: hidden;
  background: #cb0f74
}
.mes1-top-foto-bx img {
  width: 100%;
}
.mes1-top-ceja-th {
  font-size: 14px;
  line-height: 1.6;
  font-weight: bolder;
  text-align: center;
  color: white;
  padding: 0 10px;
  margin-bottom: 10px;
  display: inline-block;
  text-transform: uppercase;
  z-index: 5;
}
.mes1-top-cbz {
  font-size: 47px;
  line-height: 1.2;
  margin-bottom: 4px;
  color: black;
}
.mes1-top-sumario {
  font-size: 20px;
  line-height: 1.4;
  color: black;
}
/* ESTE MES Banners verticales */
/* 250x250 */
.mes1-col3 {
  flex-basis: 23%;
  margin-left: 2.5%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.bnr-vl-250x250 {
  width: 100%;
  height: auto;
  float: right;
}
.bnr-vl-250x250 img {
  width: 100%;
}
.bnr-250x250 {
  width: 100%;
}
.bnr-250x250 img {
  width: 100%;
}
.mb-70 {
  margin-bottom: 70px;
}
.clear {
  clear: both;
}
/* BANNER HORIZONTAL 1100x122 */
.bnr-hz-01 {
  margin: 50px auto 50px;
}
.bnr-hz-01 img {
  width: 100%;
}
.bnr-hz-mob {
  display: none;
}
/* 1ARTICULOS */
.cont-art1 {
  display: flex;
  justify-content: space-between;
}
.col1-art1 {
  flex-basis: 70%;
}
.card-art1 {
  width: 100%;
  height: 220px;
  margin-bottom: 35px;
  display: flex;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  transition: all 300ms;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
}
.card-art1:hover {
  transform: translateY(-2%);
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.16);
}
.foto-art1-bx {
  width: 45%;
  min-width: 45%;
  float: left;
  overflow: hidden;
}
.foto-art1-bx img {
  height: 100%;
}
.cbz-art1-bx {
  margin: 0 15px 0 24px;
  align-self: center;
}
.ceja-med {
  font-size: 11px;
  line-height: 2;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 0.8px;
  color: white;
  padding: 0 0.4375rem;
  position: absolute;
  z-index: 5;
}
.blz-art1 {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.cbz-art1 {
  font-size: 35px;
  line-height: 1.15;
  font-weight: 700;
}
.autor-art1 {
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
}
.autoresp-art1 {
  font-size: 15px;
  font-weight: 400;
}
/* ARTICULOS Aside */
.col2-art1 {
  flex-basis: 27%;
  display: flex;
  flex-wrap: wrap;
}
.ocup1024 {
  display: none;
}
.bnr-vl-01 {
  width: 100%;
  height: 430px;
  background: #e7e7e7;
}
.leidas1 {
  width: 100%;
  height: auto;
}
.mas-inda {
  text-align: center;
  margin-bottom: 5px;
  color: #ff5252;
}
.leidas1 li {
  background-color: #eeedec;
  border-top: 13px solid #ffffff;
  margin-top: -5px;
}
.leidas1 h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  color: black;
  padding: 13px 55px 13px 15px;
}
/* 1ESPECIAL INICIO */
/* CAMBIOS EN HTML */
#esp1 {
  width: 98vw;
  margin-bottom: 50px;
}
.esp1-inda {
  margin-top: 15px;
  margin-bottom: 15px;
}
.cont-esp1 {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.col1-esp1 {
  flex-basis: 55%;
}
.cbz-esp1-bx {
  width: 100%;
}
.cbz-esp1{
  /* font-size: 50px; */
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: #5b88c5;
}
.sum-esp1 {
  width: 100%;
  /* font-size: 30px; */
  line-height: 1.1;
  font-weight: bold;
  color: #ea991e;
  margin-bottom: 20px;
}
.lista-esp1-bx {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lista-esp1-izq {
  width: 51%;
  margin-right: 14px;
}
.lista-esp1-der {
  width: 48%;
  margin-right: 14px;
}
#esp1 li {
  margin-bottom: 13px;
}
.item-esp1 {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  color: #5b88c5;
}
.item-esp1 span{
  color: #555;
}
.item-esp1:hover {
  color: #cb0f74;
}
.br-none {
  display: none;
}
.col2-esp1 {
  flex-basis: 43%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  background: white;
}
.foto-esp1-bx {
  width: 100%;
  height: 420px;
  align-self: center;
}
.foto-esp1-bx img {
  width: 100%;
}
.bnr-esp1 {
  display: none;
}
@media screen and (max-width: 1024px){
  .sum-esp1 {
    font-size: 24px;
  }
}
@media screen and (max-width: 980px){
  .cont-esp1 {
    flex-direction: column;
  }
  .col1-esp1 {
    width: 100%;
  }
  .cbz-esp1-bx {
    width: 90%;
    margin: 0 auto;
  }
  .cbz-esp1 {
    font-size: 57px;
    text-align: center;
    margin-bottom: 10px;
  }
  .sum-esp1 {
    text-align: center;
    font-size: 30px;
  }
  .lista-esp1-bx {
    width: 85%;
    margin: 0px auto 10px auto;
  }
  .item-esp1 {
    font-size: 18px;
  }
  .lista-esp1-izq,
  .lista-esp1-der {
    margin-right: 0px;
  }
  .col2-esp1 {
    width: 85%;
    margin: 0 auto;
  }
  .foto-esp1-bx {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .foto-esp1-bx img {
    width: 100%;
  }
}
@media screen and (max-width: 740px){
  .lista-esp1-bx {
    flex-direction: column;
  }
  .lista-esp1-izq,
  .lista-esp1-der {
    width: 100%;
    margin-right: unset;
  }
  .item-esp1 {
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 580px){
  .cbz-esp1 {
    font-size: 52px;
  }
  .sum-esp1 {
    font-size: 27px;
  }
}
@media screen and (max-width: 520px){
  .sum-esp1 {
    font-size: 25px;
    line-height: 1.2;
  }
  .item-esp1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px){
  .cbz-esp1-bx {
    width: 97%;
  }
  .cbz-esp1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .br-visible480 {
    display: inline;
  }
  .item-esp1 {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 420px){
  .br-visible420 {
    display: inline;
  }
}
@media screen and (max-width: 400px){
  .cbz-esp1 {
    font-size: 45px;
  }
  .br-visible400 {
    display: inline;
  }
}
@media screen and (max-width: 340px){
  .cbz-esp1 {
    font-size: 42px;
  }
  .br-visible340 {
    display: inline;
  }
}
/* ESPECIAL FIN */

/* 1VIDEOS */
#vid1 {
  width: 98vw;
  background: #242527;
  margin-bottom: 50px;
}
.vid1-inda {
  padding-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}
.frames {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-bottom: 20px;
}
.vid1-bx {
  width: 31%;
  margin-bottom: 30px;
  background: #fff;
}

/* 1SALUD PARA VIVIR */
#spv1 {
  margin-bottom: 20px;
}
.cont-spv1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.bnr-vl-02 {
  background: var(--gris-claro);
  display: none;
  width: 31%;
  height: auto;
  margin-bottom: 45px;
}
.card-spv1 {
  width: 46%;
  /* width: 31%; */
  margin-bottom: 45px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  transition: all 300ms;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
}
.card-spv1:hover {
  box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.16);
  transform: translateY(-2%);
}
.foto-spv1-bx {
  width: 100%;
  height: auto;
}
.foto-spv1-bx img {
  width: 100%;
}
.cbz-spv1-bx {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-bottom: 15px;
}
.blz-spv1 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 24px 5px 24px;
}
.cbz-spv1 {
  font-size: 30px;
  margin: 0 24px 0 24px;
}

/* 1EDICIONES CARRUSEL */
#edcr1 {
  margin: 0 auto 50px;
}
#cont-edcr1 {
  height: 280px;
  position: relative;
  overflow: hidden;
}
#cont-edcr1 .edi1-flecha-izq {
  position: absolute;
  z-index: 6;
}
#cont-edcr1 .edi1-flecha-der {
  position: absolute;
  right: 0px;
  z-index: 6;
}
.banda-edcr1 {
  width: 4000px;
  left: 0px;
  position: absolute;
  z-index: 0;
}
.banda-edcr1>div {
  width: 208px;
  height: 250px;
  margin-left: 40px;
  float: left;
}
.banda-edcr1 img {
  width: 100%;
}
.portada-edcr1 {
  border: #cccccc 1px solid;
}
.num-portada-edcr1 {
  text-align: center;
  font-weight: 400;
}
.portada-edcr1:hover {
  transform: scale(1.035);
}

/* 1EVENTOS */
#ev1 {
  margin: 0 auto 60px;
}
.cont-ev1 {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: repeat(2, auto);
  gap: 2.5%;
}
.card-ev1-grid {
  grid-column: 1/3;
  grid-row: 1/3;
}
.card-ev1 {
  width: 100%;
  height: auto;
  transition: all 300ms;
}
.foto-card-ev1-bx {
  width: 100%;
  margin-bottom: 5px;
}
.foto-card-ev1-bx img {
  width: 100%;
  height: auto;
}
.cbz-ev1-bx {
  width: 100%;
  /* display: flex; */
  /* REVISAR SI ES NECESARIO DISP FLX */
}
.cbz-ev1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 4px;
}
.cbz-ev1-top {
  font-size: 32px;
  font-weight: bold;
}

/* .card-ev1:nth-child(2) {
  margin-bottom: 10px;
} */
.card-ev1:hover {
  transform: translateY(-2%);
}
.cbz-ev1-bx:hover {
  color: slategrey;
}
.cbz-ev1-top:hover {
  color: slategrey;
}

/* 1CORTO CARRUSEL */
#corto1-carr {
  margin: 0 auto 50px;
}
#cont-corto1-carr {
  height: 220px;
  position: relative;
  overflow: hidden;
}
#cont-corto1-carr .corto-flecha-izq {
  position: absolute;
  z-index: 6;
}
#cont-corto1-carr .corto-flecha-der {
  position: absolute;
  right: 0px;
  z-index: 6;
}
.banda-corto1-carr {
  width: 4000px;
  left: 0px;
  position: absolute;
  z-index: 0;
}
.banda-corto1-carr>div {
  width: 232px;
  height: 220px;
  float: left;
  margin-left: 40px;
}
.banda-corto1-carr img {
  cursor: pointer;
}
.card-corto1-carr figure {
  width: 232px;
  height: 168px;
}
.card-corto1-carr figure img {
  width: 100%;
}
.card-corto1-carr figcaption {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
}
.card-corto1-carr figcaption:hover {
  color: slategrey;
}

/* FOOTER */
.footer-row-1 {
  width: 98vw;
  background: var(--verde-logo-1)
}
.footer-mision {
  font-size: 19px;
  line-height: 2.4;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}
.footer-row-2 {
  width: 98vw;
  height: auto;
  background: var(--gris-claro);
}
.footer-cont {
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
}
.footer-col-2 {
  width: 35%;
  margin: 0 30px 0 70px;
}
.footer-BSlogo-bx {
  width: 150px;
}
.footer-BSlogo-bx img {
  width: 100%;
}
.anunciese, .footer-tel {
  font-size: 19px;
  margin-bottom: 5px;
}
.footer-icon {
  font-size: 16px;
  color: #696969;
}
.footer-email {
  font-size: 18px;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 10px;
  white-space: nowrap;
}
.footer-direccion {
  font-size: 15px;
  line-height: 1.3;
}
.footer-col-3 {
  width: 40%;
}
.footer-col-3 p {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 7px;
}
.footer-col-3 a {
  font-size: 13px;
  line-height: 10px;
  text-decoration: underline;
  display: inline-block;
  margin-right: 5px;
}
.btn-siganos {
  width: 170px;
  height: 70px;
  border: 3px solid #eee;
  border-radius: 6px;
  background: #1778f2;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
  padding-top: 6px;
  box-shadow: 5px 6px 10px 0px #c2c2c2;
}
.btn-siganos p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}
.btn-siganos:hover {
  background-color: #2d69bd;
}
.btn-siganos:active {
  position: relative;
  top: 1px;
}
.btn-siganos-pr {
  display: none;
  width: 150px;
  height: 70px;
  border: 3px solid #eee;
  border-radius: 6px;
  background: #1778f2;
  margin-top: 20px;
  margin-left: 50px;
  text-align: center;
  padding-top: 6px;
  box-shadow: 5px 6px 10px 0px #c2c2c2;
}
.btn-siganos-pr p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  color: #fff;
}
.btn-siganos-pr:hover {
  background-color: #2d69bd;
}
.btn-siganos-pr:active {
  position: relative;
  top: 1px;
}
.duarte-firma {
  width: 265px;
  margin: 50px auto 0;
  font-family: sans-serif;
  font-size: 12.5px;
  line-height: 1.9;
  color: #fff;
  text-align: center;
  background: #28539c;
  border-radius: 8px;
}
.duarte-firma a {
  color: #fff;
}

/* ------------------------------
------------------------------ */

/* 1NOTAS */
.nota-bx {
  display: grid;
  grid-template-columns: 60% 40%;
}
.col-6 {
  grid-column: 1/2;
  width: 100%;
}
.col-4 {
  grid-column: 2/3;
  width: 100%;
  position: relative;
}
/* 1CABEZA NOTA */
.ceja-gde {
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 0 13px;
  margin-right: 15px;
  display: inline;
}
.fecha {
  font-size: 14px;
  display: inline;
  color: #66666e;
}
.balazo-1 {
  font-size: 26px;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 40px;
  color: var(--gris-oscuro);
}
.balazo-1 span {
  font-weight: 500;
}
.editorial-cbz {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 25px;
}
.cabeza-1 {
  font-size: 65px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}
.sumario-1 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 18px;
  color: var(--gris-oscuro);
}
.foto-nota-top-bx {
  width: 90%;
  margin-bottom: 20px;
}
.foto-nota-top-bx img {
  width: 100%;
}

/* COMPARTIR */
.compartir-bx {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.fa-share {
  font-size: 18px;
  margin-right: 5px;
  color: #9999a1;
}
.compartir {
  font-size: 16px;
  margin-right: 15px;
  color: #66666e;
}
.whatsapp-compartir {
  font-size: 25px;
  color: #25d366;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.facebook-compartir {
  font-size: 25px;
  color: #1677f2;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.envelope-compartir {
  font-size: 23px;
  color: #676869;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}
.link-compartir {
  font-size: 20px;
  color: #676869;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}

/* CREDITO */
.credito-bx {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.credito-editorial-bx {
  margin-bottom: 35px;
}
.credito-foto-bx {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}
.credito-foto-bx img {
  width: 100%;
}
.credito-autor {
  font-size: 15px;
  line-height: 1.3;
}
.credito-autor strong {
  color: var(--verde-logo-1);
}
.credito-autor i {
  font-size: 13px;
}

/* TEXTO NOTA */
.texto {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  line-height: 1.6;
}
.texto p {
  margin-bottom: 10px;
}
.texto p span {
  font-size: 20px;
  font-weight: 700;
}
.descanso {
  font-size: 23px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--verde-logo-1);
  margin-top: 40px;
}
.texto-resaltado{
  font-size: 21px;
}
.texto-resaltado-bx {
  width: 95%;
  padding: 25px;
  background: var(--gris-claro);
  margin-top: 30px;
  margin-bottom: 20px;
}
.texto li {
  margin-left: 30px;
}
.lista-letra-nota {
  list-style-type: lower-latin;
  margin-right: 50px;
  line-height: 1.4;
  margin-bottom: 5px;
}
.lista-disco-nota {
  list-style-type: disc;
  margin-right: 50px;
  line-height: 1.5;
  margin-bottom: 5px;
}
.lista-num-nota {
  list-style-type: decimal;
  margin-right: 50px;
  line-height: 1.4;
  margin-bottom: 5px;
}
.texto .cita{
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
/* FRASE */
.frase-bx{
  width: 100%;
  display: flex;
  margin-top: 35px;
  margin-bottom: 25px;
  padding-right: 20px;
}
.frase-barra{
  width: 50px;
  margin: 10px 30px 20px 20px;
}
.frase{
  font-size: 30px;
  font-weight: 600;
}

/* --------------- */
.lista-graficos{
  margin-left: 20px;
}
.lista-graficos p{
  margin-left: 20%;
  margin-bottom: 15px;
  line-height: 1.4;
}
.grafico{
  width: 15%;
  float: left;
  margin-right: 20px;
}
.grafico img{
  width: 100%;
}
@media screen and (max-width:920px){
  .lista-graficos{
    margin-left: 10px;
  }
  .lista-graficos p{
    margin-left: 22%;
  }
  .grafico{
    width: 18%;
    float: left;
    margin-right: 20px;
  }
  .grafico img{
    width: 100%;
  }
}
@media screen and (max-width:480px){
  .lista-graficos p{
    margin-left: 24%;
  }
}
@media screen and (max-width:360px){
  .grafico{
    width: 18%;
  }
}

/* AVERIGUAR DONDE SE USO CLASE */
/* .fuente {
  font-size: 13.6px;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 15px;
} */
.fa-square {
  font-size: 12px;
  color: var(--gris-claro);
}
.txt-fuente {
  font-size: 14px;
  margin-top: 25px;
  line-height: 1;
}

/* 1RECUADROS COLOR Y GRIS*/
.noneup680 {
  display: none;
}
.rc-color {
  width: 40%;
  border-radius: 17px;
  padding: 25px;
}
.rc-gris {
  width: 40%;
  padding: 25px;
  background: var(--gris-claro);
}
.rc-float-izq {
  float: left;
  margin-top: 25px;
  margin-right: 35px;
  margin-bottom: 25px;
}
.rc-float-der {
  float: right;
  margin-top: 25px;
  margin-left: 35px;
  margin-right: -50px;
  margin-bottom: 25px;
}
/* AVERIGUAR ESTA CLASE EN HTML */
.rc-gris img {
  width: 90%;
}
.rc-foto-bx {
  width: 100%;
  margin: 0 auto;
}
.rc-foto-bx img {
  width: 100%;
}
.rc-color-cbz-1r,
.rc-gris-cbz-1r {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: uppercase;
  /* word-break: break-word;
  hyphens: auto; */
}
.rc-color-texto {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 300;
  color: #ffffff;
}
.rc-gris-texto {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
}
.rc-color-lista li {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 300;
  list-style-type: disc;
  margin-bottom: 10px;
  margin-left: 17px;
  color: #ffffff;
}
.rc-gris-lista li {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  list-style-type: disc;
  margin-bottom: 10px;
  margin-left: 17px;
  color: #333;
}
.rc-fuente {
  font-size: 12px;
  line-height: 1;
}
/* TABLA */
.tabla{
  margin-top: 35px;
  width: 100%;
  border-collapse: collapse;
}
.separador{
  height: 5px;
}
td, th {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  padding: 10px 16px 10px 16px;
  text-align: left;
  border-bottom: #999 1px solid;
}
th {
  font-weight: 500;
  padding-top: 10px;
  color: white;
}

@media screen and (max-width:1024px){
  .tabla{
    display: block;
    overflow-x: auto;
  }
}
.celda4-bx {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.celda4 {
  flex: 0 23%;
  margin-bottom: 2%;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15.6px;
  font-weight: 300;
  line-height: 1.15;
  color: #ffffff;
}

/* NOTA FOTO CON/SIN PIE */
/* .foto-nota-izq {
  height: 188px;
  float: left;
  margin: 20px 30px 15px 0px;
} */
.foto-nota-pie-izq {
  width: 45%;
  float: left;
  margin: 25px 30px 30px 0px;
  overflow: hidden;
}
.foto-nota-pie-izq img {
  width: 100%;
}
.foto-nota-pie-der {
  width: 40%;
  float: right;
  margin: 15px -10px 50px 30px;
  overflow: hidden;
}
.pie-nota-bx {
  width: 100%;
  padding: 15px;
}
.foto-nota-pie-der img {
  width: 100%;
}


/* FOTO NOTA CENTRADA */
.foto-nota-pie-cnt {
  width: 95%;
  margin: 30px auto 45px auto;
  background: var(--gris-claro);
}
.foto-nota-pie-cnt figure {
  display: flex;
}
.foto-nota-pie-cnt figure img {
  width: 65%;
}
.foto-nota-pie-cnt figcaption {
  float: right;
  padding: 20px;
  align-self: center;
}

/* AVERIGUAR */
/* .foto-nota-pie-der figure img {
  width: 60%;
} */
/* .foto2561 {
  width: 30%;
  padding: 25px;
  background: var(--gris-claro);
  margin: 40px auto 50px auto;
}
.foto2561-bx {
  width: 95%;
  margin: 0 auto;
}
.foto2561-bx img {
  width: 100%;
} */
/* .foto2561 p {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
} */
.pie {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 300;
}
/* 1ASIDE NOTA  */
.aside-bnrs-up {
  float: right;
  width: 75%;
  margin-top: 50px;
}
.aside-bnrs-stic {
  float: right;
  width: 75%;
  margin-top: 50px;
  position: sticky;
  top: 40px;
}
/* TEMAS DE INTERES */
#interes {
  width: 70%;
  float: right;
  margin-top: 30px;
  margin-bottom: 100px;
}
.interes-ind-a {
  margin-top: 20px;
  margin-bottom: 20px;
}
.interes-item {
  width: 100%;
}
.interes-item img {
  width: 100%;
}
.interes-item p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 40px;
}
.interes-item:hover {
  transform: translateY(-2%);
}
.interes-item p:hover {
  color: slategrey;
}

/* INFO-AUTOR */
.info-autor-bx {
  width: 80%;
  /* margin-top: 300px; */
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #344497;
  padding: 25px;
  border-radius: 0px 25px 25px 25px;
}
.sobre-autor {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}
.autor {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}
.autor-especialidad {
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}
.autor-certificaciones {
  font-size: 14.8px;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 10px;
}
.autor-cedulas {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
  color: #ffffff;
  margin-bottom: 10px;
}
.autor-cargo {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 10px;
}
.autor-empresa {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 3px;
}
.autor-dom-tel {
  text-indent: -8px;
  margin-left: 17px;
  font-size: 15.5px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 3px;
}
.autor-correo {
  font-size: 15.5px;
  line-height: 1;
  font-weight: 200;
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
  word-break: break-all;
}

/* ANTERIORES */
.anteriores {
  margin-bottom: 70px;
}
.anteriores-bx {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.anteriores-bx a {
  width: 22%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: var(--verde-logo-1);
  padding-right: 0 10px;
}
.lv {
  border-right: 2px solid;
  height: 55px;
}

/* ------M E D I A S------- */
@media screen and (max-width: 1024px) {
  .contenedor {
    width: 92vw
  }
  .indicador {
    font-size: 22px;
  }
  /* MENU */
  .menu-desktop li a {
    font-size: 16.5px;
  }
  /* PREVENTIVO COVID */
  .covid-preventivo {
    margin: 20px auto 35px;
  }
  .covid-preventivo p span {
    font-size: 25px;
  }
  .covid-preventivo p {
    font-size: 25px;
  }
  /* ESTE MES Preventivos */
  .mes1-col1 {
    flex-basis: 23%;
  }
  /* ESTE MES Nota Mes */
  .mes1-col2 {
    flex-basis: 72%;
  }
  .mes1-top-ceja {
    font-size: 18px;
  }
  .mes1-top-cbz {
    font-size: 45px;
  }
  /* ESTE MES Bnrs verticales */
  /* 250x250 */
  .none-1024 {
    display: none;
  }
  /* BANNER HORIZONTAL 1100x122 */
  .bnr-hz-01 {
    margin: 40px auto 50px;
  }
  /* ARTICULOS */
  /* .articulos-preventivos-cont {
    display: block
  } */
  .cont-art1 {
    display: block
  }
  .col1-art1 {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-art1 {
    width: 48%;
    display: block;
    height: auto;
    margin-bottom: 40px;
  }
  .foto-art1-bx {
    width: 100%;
    margin-bottom: 10px;
  }
  .foto-art1-bx img {
    width: 100%;
  }
  .cbz-art1-bx {
    margin: 0 6% 4% 6%;
    align-self: center;
  }
  .cbz-art1 {
    font-size: 30px;
  }
  .blz-art1 {
    font-size: 17px;
    margin-bottom: 7px;
  }
  .autoresp-art1 {
    font-size: 13px;
  }
  /* ARTICULOS Aside */
  .col2-art1 {
    flex-basis: 100%;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .bnr-vl-01 {
    display: none;
  }
  .ocup1024 {
    flex-basis: 65%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .bnr-vl-250x250 {
    align-self: center;
  }
  .leidas1 {
    flex-basis: 32%;
  }
  .mas-inda {
    text-align: left;
  }
  .leidas1 h3 {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 200;
    color: black;
    padding: 13px 55px 13px 15px;
  }
  .leidas1 li:last-child {
    display: none;
  }
  .bnr-esp1 {
    display: block;
  }
  /* 1ESPECIAL */
  /* .sum-esp1 {
    font-size: 22px;
  } */
  /* SALUD PARA */
  .bnr-vl-02 {
    display: block;
  }
  /* CARR EDICIONES */
  .edi1-flecha-izq, .edi1-flecha-der {
    display: none;
  }
  .banda-edcr1 {
    width: unset;
    left: unset;
    position: unset;
    overflow: auto;
    white-space: nowrap;
  }
  .banda-edcr1>div {
    float: none;
    display: inline-block;
  }
  /* EVENTOS */
  .cbz-ev1 {
    font-size: 16px;
  }
  .cbz-ev1-top {
    font-size: 24px;
  }
  /* CORTO */
  .corto-flecha-izq, .corto-flecha-der {
    display: none;
  }
  .banda-corto1-carr {
    width: unset;
    left: unset;
    position: unset;
    overflow: auto;
    white-space: nowrap;
  }
  .banda-corto1-carr>div {
    float: none;
    /* float: unset; */
    display: inline-block;
  }
  /* FOOTER */
  .footer-col-2 {
    margin: 0 25px 0 40px;
  }
  .btn-siganos {
    margin-left: 35px;
  }
}

@media screen and (max-width: 980px) {
  /* MENU */
  .header-cont {
    display: none !important;
  }
  .header-mobile-cont {
    display: block;
  }
  .header-mobile-row-1 {
    display: flex;
    align-content: center;
  }
  .fa-bars, .fa-search {
    display: block;
    visibility: visible;
    font-size: 32px;
    align-self: center;
    color: #333;
    z-index: 9;
  }
  .logo-mobile-bx {
    width: 50%;
    margin: 0 auto 15px;
  }
  .logo-mobile-bx img {
    width: 100%;
  }
  .lema-mobile-bx {
    width: 60%;
    margin: 0 auto 15px;
  }
  .lema-mobile-bx img {
    width: 100%;
  }
  /* .header-leyenda-femeson {
    width: 100%;
    margin: 0 auto;
    background: #275c6d;
  } */
  /* .header-leyenda-femeson p {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    padding: 5px 0 5px;
    color: #fff;
    text-transform: uppercase;
  } */
  .menu-mobile {
    width: auto;
    height: 100vh;
    text-align: left;
    top: 0;
    left: -400px;
    position: fixed;
    background: var(--verde-logo-1);
    z-index: 10;
    transition: 1s;
  }
  .menu-mobile ul {
    padding: 40px;
  }
  .menu-mobile li {
    display: block;
    margin-bottom: 27px;
  }
  .menu-mobile .fas {
    display: block;
    color: #fff;
    margin: 20px 0 0 20px;
    font-size: 22px;
    cursor: pointer;
    z-index: 11;
  }
  .menu-mobile ul li a {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
  }
  /* COVID PREV */
  .covid-preventivo {
    margin: 0px auto 40px;
  }
  .covid-preventivo p span,
  .covid-preventivo p {
    font-size: 23px;
  }
  /* ESPECIAL */
  /* .cont-esp1 {
    flex-direction: column;
  }
  .col1-esp1 {
    width: 100%;
  }
  .cbz-esp1-bx {
    width: 90%;
    margin: 0 auto;
  }
  .cbz-esp1 {
    font-size: 57px;
    text-align: center;
    margin-bottom: 15px;
  }
  .sum-esp1 {
    text-align: center;
    font-size: 28px;
  }
  .lista-esp1-bx {
    width: 85%;
    margin: 0px auto 10px auto;
  }
  .item-esp1 {
    font-size: 18px;
  }
  .lista-esp1-izq,
  .lista-esp1-der {
    margin-right: 0px;
  }
  .col2-esp1 {
    width: 85%;
    margin: 0 auto;
  }
  .foto-esp1-bx {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .foto-esp1-bx img {
    width: 100%;
  } */

  /* VIDEOS */
  .frames {
    width: 98%;
  }
  .vid1-bx {
    width: 48%;
    margin-bottom: 30px;
    background: #fff;
  }
  /* EVENTOS */
  #ev1 {
    margin: 0 auto 70px;
  }
  .cont-ev1 {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    gap: 3%;
  }
  .card-ev1-grid {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .card-ev1:nth-child(2) {
    margin-bottom: 12px;
  }
  .cbz-ev1 {
    font-size: 20px;
  }
  .cbz-ev1-top {
    font-size: 20px;
  }
  /* FOOTER */
  .footer-email {
    font-size: 17px;
  }
  .footer-direccion {
    font-size: 14px;
  }
  .footer-col-3 p {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .footer-col-3 a {
    font-size: 13px;
  }
  .btn-siganos {
    margin-left: 30px;
  }
  /* NOTAS */
  .balazo-1 {
    font-size: 24px;
  }
  .cabeza-1 {
    font-size: 62px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .sumario-1 {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  /* INFO-AUTOR */
  .autor {
    font-size: 20px;
  }
}

@media screen and (max-width: 920px) {
  /* 92COVID PREV */
  .covid-preventivo p span,
  .covid-preventivo p {
    font-size: 21px;
  }
  /* 92SALUD PARA */
  .card-spv1 {
    width: 48%;
  }
  .bnr-vl-02 {
    width: 48%;
  }
  .cbz-spv1 {
    font-size: 25px;
  }
  /* 92EDICIONES CARRUSEL */
  #edcr1 {
    margin-top: -10px;
  }
  #cont-edcr1 {
    height: 242px;
  }
  .banda-edcr1>div {
    width: 180px;
    height: 242px;
    margin-left: 35px;
  }
  /* 92EVENTOS */
  #ev1 {
    margin: 0 auto 40px;
  }
  .cont-ev1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-ev1{
    width: 48%;
    height: auto;
    margin-bottom: 20px;
    transition: all 300ms;
  }
  .card-ev1:nth-child(2) {
    margin-bottom: unset;
  }
  .cbz-ev1 {
    font-size: 20px;
  }
  .cbz-ev1-top {
    font-size: 22px;
  }
  /* 92CORTO */
  .card-corto1-carr figcaption {
    font-size: 20px;
  }
  /* 92FOOTER */
  .footer-BSlogo-bx {
    width: 120px;
  }
  .footer-BSlogo-bx img {
    width: 100%;
  }
  .footer-col-2 {
    margin: 0 25px 0 35px;
  }
  .footer-email {
    font-size: 16px;
  }
  .btn-siganos {
    width: 140px;
    height: 64px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .btn-siganos p {
    font-size: 16px;
  }
  /* 92NOTAS  */
  /* 92CREDITO */
  .credito-foto-bx {
    width: 66px;
    height: 66px;
    margin-right: 15px;
  }
  /* 92CABEZA */
  .foto-nota-top-bx {
    width: 95%;
    display: block;
    margin-bottom: 20px;
  }
  /* 92FOTO NOTA CENTRADA */
  .foto-nota-pie-cnt {
    width: 90%;
    margin-bottom: 35px;
  }
  .foto-nota-pie-cnt figure {
    display: initial;
  }
  .foto-nota-pie-cnt figure img {
    width: 100%;
  }
  .foto-nota-pie-cnt figcaption {
    float: none;
    padding: 10px 15px 20px 15px;
  }
  /* 92RECUADRO COLOR */
  .rc-color {
    padding: 20px;
  }
  .rc-color-cbz-1r,
  .rc-gris-cbz-1r {
    font-size: 23px;
  }
  .rc-color-texto,
  .rc-gris-texto {
    font-size: 18px;
  }
  .rc-color-lista li,
  .rc-gris-lista li {
    font-size: 18px;
    line-height: 1.15;
    margin-top: 10px;
    margin-left: 12px;
  }
  /* 92FOTO-NOTAS */
  .foto-nota-pie-izq,
  .foto-nota-pie-der {
    width: 85%;
    float: none;
    margin: 30px auto 40px;
    background: var(--gris-claro);
  }
  .pie {
    padding: 10px 15px 15px 15px;
  }
  /* 92FRASE */
  .frase-barra{
    width: 40px;
    margin-left: 15px;
  }
  .frase{
    font-size: 26px;
  }
}

@media screen and (max-width: 820px) {
  /* 92COVID PREV */
  .covid-preventivo p span,
  .covid-preventivo p {
    font-size: 18px;
  }
  /* 92MES */
  .ind-impr {
    font-size: 23px;
  }
  .esp-edi-inda {
    font-size: 21px;
  }
  .mes1-top-cbz {
    font-size: 43px;
  }
  .especial-txt-th {
    font-size: 17px;
  }
  /* 92FOOTER */
  .footer-col-2 {
    margin: 0 20px 0 30px;
  }
  .footer-col-3 {
    width: 35%;
  }
  .footer-email {
    font-size: 15px;
  }
  /* 92NOTAS */
  /* 92COMPARTIR */
  .compartir-bx {
    margin-bottom: 35px;
  }
  .credito-bx {
    margin-bottom: 30px;
  }
  /* 92CABEZA */
  .editorial-cbz {
    font-size: 50px;
  }
  .balazo-1 {
    font-size: 22px;
  }
  .cabeza-1 {
    font-size: 57px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .sumario-1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  /* 92FOTO-NOTA */
  .foto-nota-pie-der {
    margin-right: 0;
    margin: 15px -10px 50px 30px;
    overflow: hidden;
  }
  .pie {
    font-size: 17px;
  }
  /* 92RECUADROS */
  .rc-float-der {
    margin-right: -10px;
  }
  /* 92ASIDE NOTAS */
  .aside-bnrs-stic {
    width: 85%;
  }
  /* 92INTERES */
  .interes-item p {
    font-size: 17px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 768px) {
  /* 76COVID PREV */
  .covid-preventivo {
    margin: 0px auto 30px;
  }
  /* 76MAS LEIDAS */
  .col2-art1 {
    flex-direction: column;
  }
  .leidas1 {
    margin-bottom: 60px;
  }
  .leidas1 h3 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 600;
    padding: 17px 55px 17px 15px;
  }
  /* 76FOOTER */
  .footer-cont {
    padding: 25px 50px 0 50px;
    flex-direction: column;
  }
  .footer-col-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .btn-siganos-pr {
    display: inline-block;
    margin: auto 0 auto;
  }
  .footer-row-2 {
    height: auto;
  }
  .footer-col-2, .footer-col-3 {
    width: 100%;
    margin: 0 auto;
  }
  .footer-tel {
    margin-right: 20px;
  }
  .footer-tel, .footer-email {
    display: inline-block;
  }
  .anunciese, .footer-tel, .footer-email {
    margin-bottom: 7px;
  }
  .footer-email {
    font-size: 19px;
  }
  .footer-direccion {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .btn-siganos {
    display: none;
  }
  /* 76NOTAS */
  /* 76CREDITO */
  .credito-foto-bx {
    width: 60px;
    height: 60px;
  }
  /* 768RECUADROS */
  .rc-color {
    width: fit-content;
    border-radius: 13px;
  }
  .rc-gris {
    width: fit-content;
  }
  .rc-float-izq,
  .rc-float-der {
    float: none;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
  }
}

@media screen and (max-width: 740px) {
  .contenedor {
    width: 92vw;
  }
  /* 74HEADER MOBILE */
  .fa-bars, .fa-search {
    font-size: 30px;
  }
  /* 74MES */
  .mes1-cont {
    display: flex;
    flex-direction: column;
  }
  .mes1-col1 {
    width: 100%;
    padding: 0 5% 0 5%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    margin-right: unset;
    margin-bottom: 60px;
  }
  .impresa-th-bx {
    grid-column: 3/4;
    grid-row: 1/3;
    margin-left: 30px;
  }
  .mes1-hr-1, .mes1-hr-2 {
    display: none;
  }
  .esp-th-bx {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 10px;
  }
  .mes1-hr-1 {
    display: none;
  }
  .edi-th-bx {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .ind-impr {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: right;
  }
  .esp-edi-inda {
    font-size: 23px;
    margin: 0 0 4px;
  }
  .especial-cbz-th {
    font-size: 32px;
    line-height: 1.1;
  }
  .especial-txt-th {
    font-size: 24px;
    line-height: 1.1;
  }
  .editorial-cbz-th {
    font-size: 27px;
    line-height: 1.1;
  }
  .mes1-top-ceja-th {
    font-size: 16px;
  }
  .mes1-top-cbz {
    font-size: 50px;
  }
  .mes1-top-sumario {
    font-size: 22px;
  }
  /* 74BANNER HORIZONTAL */
  .bnr-hz-01 {
    margin: 70px auto 70px;
  }
  /* 74ARTICULOS */
  .ceja-med {
    font-size: 14px;
  }
  .card-art1 {
    width: 100%;
    margin-bottom: 40px;
  }
  .foto-art1-bx {
    margin-bottom: 15px;
  }
  .cbz-art1-bx {
    margin: 0 4% 4% 4%;
  }
  .cbz-art1 {
    font-size: 36px;
  }
  .autor-art1 {
    font-size: 16px;
    margin-top: 15px;
  }
  .autoresp-art1 {
    font-size: 16px;
  }
  /* 74ESPECIAL */
  /* .lista-esp1-bx {
    flex-direction: column;
  }
  .lista-esp1-izq,
  .lista-esp1-der {
    width: 100%;
    margin-right: unset;
  }
  .item-esp1 {
    text-align: center;
    font-size: 19px;
    margin-bottom: 20px;
  } */
  /* 74VIDEOS */
  .vid1-bx {
    width: 100%;
    margin-bottom: 30px;
  }
  /* 74SPV */
  .cont-spv1 {
    flex-direction: column;
  }
  .card-spv1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .bnr-vl-02 {
    width: 75%;
    margin: 0 auto 35px;
    height: 350px;
  }
}

@media screen and (max-width: 680px) {
  /* 68MES */
  .ind-impr {
    font-size: 21px;
  }
  .especial-cbz-th {
    font-size: 29px;
  }
  .especial-txt-th {
    font-size: 22px;
  }
  .editorial-cbz-th {
    font-size: 25px;
  }
  .mes1-top-cbz {
    font-size: 45px;
  }
  .mes1-top-sumario {
    font-size: 20px;
  }
  /* 68ARTICULOS */
  .cbz-art1 {
    font-size: 34px;
  }
  .autor-art1 {
    font-size: 15px;
    margin-top: 14px;
  }
  .autoresp-art1 {
    font-size: 15px;
  }
  /* 68ESPECIAL */

  /* 68EVENTOS PREVENTIVOS */
  #ev1 {
    margin: 0 auto 10px;
  }
  .cont-ev1 {
    flex-direction: column;
  }
  .card-ev1:nth-child(2) {
    margin-bottom: 30px;
  }
  .card-ev1 {
    width: 100%;
    margin: 0 auto 30px;
  }
  /* 68NOTAS */
  .nota-bx {
    grid-template-columns: 100%;
  }
  .balazo-1 {
    font-size: 23px;
  }
  /* 68RECUADROS */
  .rc-color {
    border-radius: 13px;
  }
  /* 68ASIDE NOTAS */
  .col-4 {
    grid-column: 1/2;
  }
  .noneup680 {
    display: block;
  }
  .nonedw680 {
    display: none !important;
  }
  .aside-bnrs-stic {
    display: flex;
    width: 90%;
    float: none;
    margin: 50px auto;
    justify-content: space-between;
    position: initial;
  }
  .aside-bnrs-up {
    display: flex;
    width: 75%;
    float: none;
    /* margin: 50px auto; */
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
  }
  .bnr-vl-250x250 {
    width: 45%;
    margin: 0;
  }
  /* 68INTERES */
  #interes {
    width: 90%;
    float: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 70px;
  }
  .interes-item p {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 50px;
  }
  /* 68INFO-AUTOR */
  .info-autor-bx {
    width: 80%;
    float: left;
    position: unset;
    margin-top: 25px;
    margin-bottom: 60px;
  }
  /* 68ANTERIORES */
  .anteriores-bx a {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 580px) {
  /* 58HEADER MOBILE */
  .fa-bars, .fa-search {
    font-size: 28px;
  }
  .logo-mobile-bx {
    width: 60%;
    margin: 0 auto 10px;
  }
  .lema-mobile-bx {
    width: 70%;
    margin: 0 auto 10px;
  }
  /* 58MES */
  .mes1-col1 {
    margin-bottom: 40px;
  }
  .ind-impr {
    font-size: 20px;
  }
  .impresa-th-bx {
    margin-left: 20px;
  }
  .especial-cbz-th {
    font-size: 27px;
  }
  .especial-txt-th {
    font-size: 20px;
  }
  .editorial-cbz-th {
    font-size: 22px;
  }
  /* 58ESPECIAL */
  /* ESPECIAL CSS MES */
  /* .cbz-esp1 {
    font-size: 52px;
  }
  .sum-esp1 {
    font-size: 25px;
  } */

  /* 58NOTAS */
  /* 58COMPARTIR */
  .compartir-bx {
    margin-bottom: 30px;
  }
  /* 58CREDITO */
  .credito-bx {
    margin-bottom: 25px;
  }
  .credito-foto-bx {
    width: 56px;
    height: 56px;
    margin-right: 13px;
  }
  .cabeza-1 {
    font-size: 52px;
  }
  /* 58ASIDE NOTAS */
  .aside-bnrs-stic {
    width: 75%;
    flex-direction: column;
    margin: -15px auto;
  }
  .bnr-vl-250x250 {
    width: 95%;
    margin: 30px 0;
  }
  .anteriores-bx a {
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 520px) {
  /* 52MES */
  .ind-impr {
    font-size: 19px;
  }
  .esp-edi-inda {
    font-size: 20px;
  }
  .especial-cbz-th {
    font-size: 25px;
  }
  .especial-txt-th {
    font-size: 18px;
  }
  .editorial-cbz-th {
    font-size: 20px;
  }
  .mes1-top-cbz,
  .mes1-top-sumario {
    padding: 0 10px 0 10px;
  }
  /* 52ARTICULOS */
  .blz-art1 {
    font-size: 16px;
    margin-bottom: 6px;
  }
  /* 52ESPECIAL */
  /* .sum-esp1 {
    font-size: 24px;
    line-height: 1.2;
  }
  .item-esp1 {
    font-size: 18px;
  } */
  /* 52FOOTER */
  .duarte-firma {
    width: 225px;
    font-size: 11px;
  }
  /* 52NOTAS */
    .anteriores-bx a {
    font-size: 17px;
  }
  /* 52NOTAS-FOTOS */
  /* .foto-nota-pie-izq {
    width: 100%;
    float: none;
    margin: 30px auto 40px;
  }
  .foto-nota-pie-der {
    width: 100%;
    float: none;
    margin: 30px auto 40px;
  } */

  /*QUITAR ESTE MARGIN, YA PUESTO EN 920*/
  /* .pie {
    margin-bottom: 15px;
  } */
}

@media screen and (max-width: 480px) {
  /* 48COVID PREV */
  .covid-preventivo {
    margin: 0px auto 20px;
  }
  /* 48MES */
  .impresa-th-bx {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-left: 25px;
  }
  .esp-th-bx {
    grid-column: 1/3;
    grid-row: 1/3;
    align-self: center;
  }
  .edi-th-bx {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .ind-impr {
    font-size: 19px;
  }
  .especial-cbz-th {
    font-size: 27px;
  }
  .especial-txt-th {
    font-size: 22px;
  }
  .editorial-cbz-th {
    font-size: 23px;
    line-height: 1.2;
  }
  .especial-txt-th {
    line-height: 1.2;
  }
  .mes1-top-ceja-th {
    font-size: 14px;
  }
  .mes1-top-cbz {
    font-size: 36px;
  }
  .mes1-top-sumario {
    font-size: 18px;
  }
  /* 48ARTICULOS */
  .cbz-art1 {
    font-size: 29px;
  }
  .card-art1 {
    margin-bottom: 35px;
  }
  .autor-art1,
  .autoresp-art1 {
    font-size: 14px;
  }
  /* 48ESPECIAL */
  /* .cbz-esp1-bx {
    width: 97%;
  }
  .cbz-esp1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .br-visible480 {
    display: inline;
  }
  .item-esp1 {
    font-size: 20px;
    margin-bottom: 15px;
  } */

  /* 48SPV */
  .cbz-spv1 {
    font-size: 28px;
  }
  /* 48EVENTOS */
  .cbz-ev1 {
    font-size: 20px;
  }
  /* 48NOTA */
  .ceja-gde {
    font-size: 13px;
    padding: 0 10px;
  }
  .fecha {
    font-size: 12px;
  }
  .balazo-1 {
    font-size: 21px;
  }
  .cabeza-1 {
    font-size: 47px;
    margin-top: 11px;
    margin-bottom: 11px;
  }
  .editorial-cbz {
    font-size: 40px;
  }
  .sumario-1 {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 15px;
  }
  /* COMPARTIR */
  .whatsapp-compartir,
  .facebook-compartir {
    font-size: 22px;
  }
  .envelope-compartir {
    font-size: 20px;
  }
  .link-compartir {
    font-size: 17px;
  }
  /* 48TEXTO NOTA */
  .texto {
    font-size: 17px;
    line-height: 1.5;
  }
  .texto p {
    margin-bottom: 7px;
  }
  .texto p span {
    font-size: 17px;
  }
  .descanso {
    font-size: 19px;
    margin-top: 30px;
  }
  .texto-resaltado-bx {
    padding: 18px;
  }
  .texto-resaltado{
    font-size: 21px;
  }
  .pie {
    font-size: 15px;
  }
  /* 48 FRASE */
  .frase-bx{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .frase{
    font-size: 23px;
  }
  /* 48RECUADROS */
  .rc-color, .rc-gris {
    width: 90%;
  }
  .rc-fuente {
    font-size: 10px;
  }
  .rc-color-lista li,
  .rc-gris-lista li {
    /* text-wrap: balance; */
    font-size: 17px;
  }
  .rc-color-texto,
  .rc-gris-texto {
    font-size: 17px;
  }
  /* 48FOTO NOTA CENTRADA */
  .foto-nota-pie-cnt {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .foto-nota-pie-cnt figcaption {
    padding-bottom: 15px;
  }
  /* 48FOOTER */
  .footer-cont {
    padding: 25px 20px 0 20px;
  }
  .footer-mision {
    font-size: 17px;
  }
  .btn-siganos-pr {
    width: 130px;
  }
  /* 48CABEZA NOTA */
  /* CREDITO */
  .credito-autor {
    font-size: 13px;
  }
}

@media screen and (max-width: 420px) {
  /* 42HEADER MOBILE */
  .fa-bars, .fa-search {
    font-size: 26px;
  }
  .covid-preventivo {
    padding: 7px 0 7px;
  }
  /* 42COVID PREV */
  .covid-preventivo p span,
  .covid-preventivo p    {
    font-size: 16px;
  }
  /* 42MES */
  .ind-impr {
    font-size: 18px;
  }
  /* 42ESPECIAL */




  /* 42INFO-AUTOR */
  .sobre-autor {
    font-size: 13px;
  }
  .autor {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .autor-especialidad {
    font-size: 15px;
    margin-bottom: 7px;
  }
  .autor-certificaciones {
    font-size: 13px;
    margin-bottom: 7px;
  }
  .autor-cedulas {
    font-size: 11px;
    margin-bottom: 7px;
  }
  .autor-cargo {
    font-size: 15px;
    margin-bottom: 7px;
  }
  /* .autor-domtel {
    text-indent: -8px;
    margin-left: 17px;
    font-size: 15.6px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 3.2px;
  } */
  .autor-correo {
    font-size: 14.5px;
  }
  /* 42ANTERIORES */
  .anteriores-bx {
    flex-direction: column;
    margin-bottom: 70px;
  }
  .anteriores-bx a {
    width: 100%;
    font-size: 20px;
    margin: 8px 0;
  }
  .lv {
    display: none;
  }

}

@media screen and (max-width: 400px) {
  /* 40MES */
  .ind-impr {
    font-size: 17px;
  }
  .especial-txt-th {
    font-size: 17px;
  }
  /* 40ARTICULOS */
  .ceja-med {
    font-size: 12px;
  }
  .blz-art1 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .leidas1 h3 {
    font-size: 18px;
  }
  /* 40ESPECIAL */
  /* .cbz-esp1 {
    font-size: 46px;
  }
  .sum-esp1 {
    font-size: 22px;
  }
  .br-visible400 {
    display: inline;
  } */
}

@media screen and (max-width: 360px) {
  .indicador {
    font-size: 20px;
  }
  /* 36HEADER MOBILE */
  .fa-bars, .fa-search {
    font-size: 25px;
  }
  /* 36COVID PREV */
  .covid-preventivo p span,
  .covid-preventivo p    {
    font-size: 15px;
  }
  /* 36MES */
  .impresa-th-bx {
    margin-left: 15px;
  }
  .ind-impr {
    font-size: 16px;
  }
  .esp-th-bx {
    margin-bottom: 10px;
  }
  .especial-cbz-th {
    font-size: 24px;
  }
  .editorial-cbz-th {
    font-size: 19px;
  }
  /* 36FOOTER */
  .duarte-firma {
    width: 200px;
    font-size: 10px;
  }
  /* 36FRASE */
  .frase{
    font-size: 21px;
  }
  /* 36RECUADRO COLOR */
  .rc-color-cbz-1r,
  .rc-gris-cbz-1r {
    font-size: 20px;
  }
}

@media screen and (max-width: 340px) {
  /* 34HEADER MOBILE */
  .fa-bars, .fa-search {
    font-size: 24px;
  }
  .logo-mobile-bx {
    width: 65%;
    margin: 0 auto 7px;
  }
  .lema-mobile-bx {
    width: 75%;
  }
  /* 34COVID PREV */
  .covid-preventivo p span,
  .covid-preventivo p    {
    font-size: 13px;
  }
  /* 34MES */
  .ind-impr {
    font-size: 14px;
  }
  .esp-edi-inda {
    font-size: 18px;
    margin: 0px 0 2px;
  }
  .especial-cbz-th {
    font-size: 23px;
  }
  .especial-txt-th {
    font-size: 16px;
  }
  .editorial-cbz-th {
    font-size: 19px;
  }
  /* 34ESPECIAL */
  /* .cbz-esp1 {
    font-size: 40px;
  } */

  /* 34FOOTER */
  .footer-mision {
    font-size: 14px;
  }
  .btn-siganos-pr {
    display: none;
  }
  .btn-siganos {
    display: block;
    width: 55%;
    margin-left: 0px;
  }
  .footer-email {
    font-size: 17px;
  }
}

@media screen and (max-width: 1000px) {
  .wid::after {
    color: #777;
    content: '1000';
  }
}

@media screen and (max-width: 990px) {
  .wid::after {
    color: magenta;
    content: '990';
  }
}

@media screen and (max-width: 980px) {
  .wid::after {
    color: #777;
    content: '980';
  }
}

@media screen and (max-width: 970px) {
  .wid::after {
    color: magenta;
    content: '970';
  }
}

@media screen and (max-width: 960px) {
  .wid::after {
    color: #777;
    content: '960';
  }
}

@media screen and (max-width: 950px) {
  .wid::after {
    color: magenta;
    content: '950';
  }
}

@media screen and (max-width: 940px) {
  .wid::after {
    color: #777;
    content: '940';
  }
}

@media screen and (max-width: 930px) {
  .wid::after {
    color: magenta;
    content: '930';
  }
}

@media screen and (max-width: 920px) {
  .wid::after {
    color: #777;
    content: '920';
  }
}

@media screen and (max-width: 910px) {
  .wid::after {
    color: magenta;
    content: '9810';
  }
}

@media screen and (max-width: 900px) {
  .wid::after {
    color: #777;
    content: '900';
  }
}

@media screen and (max-width: 890px) {
  .wid::after {
    color: magenta;
    content: '890';
  }
}

@media screen and (max-width: 880px) {
  .wid::after {
    color: #777;
    content: '880';
  }
}

@media screen and (max-width: 870px) {
  .wid::after {
    color: magenta;
    content: '870';
  }
}

@media screen and (max-width: 860px) {
  .wid::after {
    color: #777;
    content: '860';
  }
}

@media screen and (max-width: 850px) {
  .wid::after {
    color: magenta;
    content: '850';
  }
}

@media screen and (max-width: 840px) {
  .wid::after {
    color: #777;
    content: '840';
  }
}

@media screen and (max-width: 830px) {
  .wid::after {
    color: magenta;
    content: '830';
  }
}

@media screen and (max-width: 820px) {
  .wid::after {
    color: #777;
    content: '820';
  }
}

@media screen and (max-width: 810px) {
  .wid::after {
    color: magenta;
    content: '810';
  }
}

@media screen and (max-width: 800px) {
  .wid::after {
    color: #777;
    content: '800';
  }
}

@media screen and (max-width: 790px) {
  .wid::after {
    color: magenta;
    content: '790';
  }
}

@media screen and (max-width: 780px) {
  .wid::after {
    color: #777;
    content: '780';
  }
}

@media screen and (max-width: 770px) {
  .wid::after {
    color: magenta;
    content: '770';
  }
}

@media screen and (max-width: 760px) {
  .wid::after {
    color: #777;
    content: '760';
  }
}

@media screen and (max-width: 750px) {
  .wid::after {
    color: magenta;
    content: '750';
  }
}

@media screen and (max-width: 740px) {
  .wid::after {
    color: #777;
    content: '740';
  }
}

@media screen and (max-width: 730px) {
  .wid::after {
    color: magenta;
    content: '730';
  }
}

@media screen and (max-width: 720px) {
  .wid::after {
    color: #777;
    content: '720';
  }
}

@media screen and (max-width: 710px) {
  .wid::after {
    color: magenta;
    content: '710';
  }
}

@media screen and (max-width: 700px) {
  .wid::after {
    color: #777;
    content: '700';
  }
}

@media screen and (max-width: 690px) {
  .wid::after {
    color: magenta;
    content: '690';
  }
}

@media screen and (max-width: 680px) {
  .wid::after {
    color: #777;
    content: '680';
  }
}

@media screen and (max-width: 670px) {
  .wid::after {
    color: magenta;
    content: '670';
  }
}

@media screen and (max-width: 660px) {
  .wid::after {
    color: #777;
    content: '660';
  }
}

@media screen and (max-width: 650px) {
  .wid::after {
    color: magenta;
    content: '650';
  }
}

@media screen and (max-width: 640px) {
  .wid::after {
    color: #777;
    content: '640';
  }
}

@media screen and (max-width: 630px) {
  .wid::after {
    color: magenta;
    content: '630';
  }
}

@media screen and (max-width: 620px) {
  .wid::after {
    color: #777;
    content: '620';
  }
}

@media screen and (max-width: 610px) {
  .wid::after {
    color: magenta;
    content: '610';
  }
}

@media screen and (max-width: 600px) {
  .wid::after {
    color: #777;
    content: '600';
  }
}

@media screen and (max-width: 590px) {
  .wid::after {
    color: magenta;
    content: '590';
  }
}

@media screen and (max-width: 580px) {
  .wid::after {
    color: #777;
    content: '580';
  }
}

@media screen and (max-width: 570px) {
  .wid::after {
    color: magenta;
    content: '570';
  }
}

@media screen and (max-width: 560px) {
  .wid::after {
    color: #777;
    content: '560';
  }
}

@media screen and (max-width: 550px) {
  .wid::after {
    color: magenta;
    content: '550';
  }
}

@media screen and (max-width: 540px) {
  .wid::after {
    color: #777;
    content: '540';
  }
}

@media screen and (max-width: 530px) {
  .wid::after {
    color: magenta;
    content: '530';
  }
}

@media screen and (max-width: 520px) {
  .wid::after {
    color: #777;
    content: '520';
  }
}

@media screen and (max-width: 510px) {
  .wid::after {
    color: magenta;
    content: '510';
  }
}

@media screen and (max-width: 500px) {
  .wid::after {
    color: #777;
    content: '500';
  }
}

@media screen and (max-width: 490px) {
  .wid::after {
    color: magenta;
    content: '490';
  }
}

@media screen and (max-width: 480px) {
  .wid::after {
    color: #777;
    content: '480';
  }
}

@media screen and (max-width: 470px) {
  .wid::after {
    color: magenta;
    content: '470';
  }
}

@media screen and (max-width: 460px) {
  .wid::after {
    color: #777;
    content: '460';
  }
}

@media screen and (max-width: 450px) {
  .wid::after {
    color: magenta;
    content: '450';
  }
}

@media screen and (max-width: 440px) {
  .wid::after {
    color: #777;
    content: '440';
  }
}

@media screen and (max-width: 430px) {
  .wid::after {
    color: magenta;
    content: '430';
  }
}

@media screen and (max-width: 420px) {
  .wid::after {
    color: #777;
    content: '420';
  }
}

@media screen and (max-width: 410px) {
  .wid::after {
    color: magenta;
    content: '410';
  }
}

@media screen and (max-width: 400px) {
  .wid::after {
    color: #777;
    content: '400';
  }
}

@media screen and (max-width: 390px) {
  .wid::after {
    color: magenta;
    content: '390';
  }
}

@media screen and (max-width: 380px) {
  .wid::after {
    color: #777;
    content: '380';
  }
}

@media screen and (max-width: 370px) {
  .wid::after {
    color: magenta;
    content: '370';
  }
}

@media screen and (max-width: 360px) {
  .wid::after {
    color: #777;
    content: '360';
  }
}

@media screen and (max-width: 350px) {
  .wid::after {
    color: magenta;
    content: '350';
  }
}

@media screen and (max-width: 340px) {
  .wid::after {
    color: #777;
    content: '340';
  }
}

@media screen and (max-width: 330px) {
  .wid::after {
    color: magenta;
    content: '330';
  }
}

@media screen and (max-width: 320px) {
  .wid::after {
    color: #777;
    content: '320';
  }
}

@media screen and (max-width: 310px) {
  .wid::after {
    color: magenta;
    content: '310';
  }
}

@media screen and (max-width: 300px) {
  .wid::after {
    color: #777;
    content: '300';
  }
}
/* ----F I N - M E D I A S---- */
