* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.f1 {
  font-family: "Nunito Sans", sans-serif;
}

.f2 {
  font-family: "Oswald", sans-serif;
}

.f3 {
  font-family: "Roboto Condensed", sans-serif;
}

.guion {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -epub-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}

:root {
  --naranja-claro: #ebb730;
  --naranja-oscuro: #db813f;
  --azul-claro: #0094d7;
  --azul-oscuro: #344497;
  --morado: #612f8c;
  --verde: #6dab51;
  --rojo-oscuro: #953829;
  --rojo: #b3272d;
  --verde-logo-1: #22657b;
  --gris-claro: #e6e6de;
  --gris-medio: #bbbbae;
  --gris-oscuro: #6d6d70;
  --verde05: #3699a5;
}

.rojoc {
  background: #c3242b;
}

.rojoo {
  background: #a1262a;
}

.verde {
  background: #6dab51;
}

.azulo {
  background: #344497;
}

.azulc {
  background: #0094d7;
}

.naranjao {
  background: #db813f;
}

.naranjac {
  background: #ebb730;
}

.morado {
  background: #612f8c;
}

.verde1 {
  background: #275c6d;
}

.grisc {
  background: #e6e6de
}

.grism {
  background: #bbbbae
}

.griso {
  background: #6d6d70
}

.lbco {
  color: white;
}

.contenedor {
  width: 92vw;
  max-width: 1200px;
  margin: 0 auto;
}

.m-0a {
  margin: 0 auto;
}

.hv-txt-01:hover {
  /* color: var(--azul-claro); */
  color: #a1608b;
}

.hv-trnsY-2:hover {
  transform: translateY(-2%);
  transition: all 200ms;
}

.hv-trnsY-3:hover {
  transform: translateY(-3%);
  transition: all 200ms;
}

.hv-trnsY-4:hover {
  transform: translateY(-4%);
  transition: all 500ms;
}

.hv-trnsY-5:hover {
  transform: translateY(-5%);
  transition: all 500ms;
}

ul li:last-child {
  margin-bottom: 0;
}

.d768 {
  display: none;
}

/* HEADER */
.header-pleca {
  width: 100%;
  height: 15px;
  background: var(--verde05);
  margin: 0 auto;
  top: 0;
}

.header-row {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.facebook-bx {
  width: 40px;
  font-size: 30px;
}

.facebook-bx a {
  color: #1677f2;
}

.facebook-bx:hover {
  transform: translateY(-5%);
}

.revista-bs-logo-bx {
  width: 200px;
}

.revista-bs-logo-bx img {
  width: 100%;
}

.femeson-logo-bx {
  width: 40px;
}

.femeson-logo-bx img {
  width: 100%;
}

.slogan p {
  font-family: "Nunito Sans", sans-serif;
  font-size: clamp(0.875rem, 3.4091vw + 0.1932rem, 2.75rem);
  font-weight: 600;
  /* font-size: 44px; */
  color: var(--verde-logo-1);
  text-align: center;
}

.slogan p span {
  color: var(--naranja-oscuro);
}

.header-hr {
  margin: 15px 0 50px;
  background-color: var(--gris-claro);
  height: 5px;
  border: 0;
}

/* POP UP */
.popup {
  width: 700px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  top: 70px;
  display: none;
  z-index: 100;
  border-radius: 10px;
  border: 2px #03549a solid;
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.16);
  position: fixed;
}

.popup a img {
  width: 95%;
  display: block;
  margin: 0 auto;
}

.popup button {
  font-size: 30px;
  width: 40px;
  height: 40px;
  display: block;
  margin: 0 0 10px auto;
  background-color: transparent;
  color: #ffffff;
  background: #03549a;
  border-radius: 100%;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup button::before {
  position: absolute;
  content: 'CERRAR';
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  top: 10px;
  right: 7%;
  color: #03549a;
}

@media screen and (max-width:699px) {
  .popup {
    width: 85%;
  }

  .popup button {
    font-size: 15px;
    width: 30px;
    height: 30px;
    margin: 0 0 5px auto;
  }

  .popup button::before {
    font-size: 12px;
    top: 8px;
    right: 35px;
  }
}

@media screen and (max-width:480px) {
  .popup button {
    font-size: 12px;
    width: 25px;
    height: 25px;
  }

  .popup button::before {
    font-size: 10px;
    top: 8px;
    right: 30px;
  }
}

/* 1PORTADA */
.pdf-mob {
  display: none;
}

.prt-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prt-col-1 {
  width: 67%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prt-rvst-bx {
  width: 40%;
  transition: all 400ms;
  text-align: center;
  margin-right: 3.5%;
  align-self: center;
}

.prt-rvst-bx img {
  width: 100%;
  margin-bottom: 7px;
}

.prt-rvst-bx div {
  display: flex;
  justify-content: space-evenly;
}

.prt-rvst-bx h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.prt-prev-bx {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.prt-prev-mes {
  font-size: 17px;
  margin-bottom: 30px;
}

.prt-prev-blz {
  font-size: 22px;
  line-height: 1.2;
  /* color: var(--verde-logo-1); */
  color: #555555;
}

.prt-prev-cbz {
  /* font-size: 55px; */
  font-size: clamp(2.5rem, 2.193vw + 2.034rem, 3.4375rem);
  font-weight: 400;
  line-height: 1.2;
}

.prt-prev-hr {
  margin: 25px 0 25px;
  background-color: var(--gris-claro);
  height: 3px;
  border: 0;
}

.prt-prev-edit-ind {
  font-size: 22px;
  line-height: 1.2;
  /* color: var(--verde-logo-1); */
  color: #555555;
}

.prt-prev-edit-cbz {
  /* font-size: 35px; */
  font-size: clamp(1.5625rem, 1.462vw + 1.2518rem, 2.1875rem);
  font-weight: 400;
  line-height: 1.2;
}

.prt-video-cont {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.prt-video-bx {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 18px;
}

.prt-video-bx iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* .fb-video {
  width: 100%;
  left: 0;
  top: 0;
} */
.clear {
  clear: both;
}

/* BANNER HORIZONTAL*/
.bnr-hz-01 {
  margin: 0 auto;
}

.bnr-hz-01 img {
  width: 100%;
}

.prt-bnr-spc-tp {
  /* height: 80px; */
  height: 8vh;
}

.prt-bnr-spc-bt {
  /* height: 80px; */
  height: 8vh;
}

.bnr-hz-01-mob {
  display: none;
}

/* 1EDICIONES */
#ediciones h3,
#dirMdc h3 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 35px;
  letter-spacing: 5px;
}

.edcns-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
}

.edcn-bx {
  width: 29%;
  background: #fff;
}

.edcn-bx img {
  width: 100%;
}

.edcn-bx h4 {
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
}

.edicion-dbl-bx div {
  display: flex;
  justify-content: space-evenly;
}

.edcns-cont h4:hover {
  transform: scale(115%);
}

/* 1DEC */
#dirMdc {
  margin-bottom: 80px;
}

.dirmdc-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* justify-content: center; */
  row-gap: 50px;
  column-gap: 3%;
}

.dirmdc-dr-bx {
  flex-basis: 14%;
  height: auto;
}

/* Activar este y desactivar el dirmdc-dr-ft img hace que los 6 bxs de los dres hagan wrap*/
/* .dirmdc-dr-ft img {
  display: block;
} */
.dirmdc-dr-ft {
  width: 100%;
  height: auto;
  margin: 0 auto 18px;
  background-color: #62d0f8;
}

.dirmdc-dr-ft img {
  width: 100%;
  display: block;
}

.dirmdc-dr-bx p {
  text-align: center;
  padding: 0 4px;
}

.dirmdc-dr-nm {
  font-size: 21px;
  line-height: 1.1;
  margin-bottom: 5px;
}

.dirmdc-dr-esp {
  font-size: 18px;
  line-height: 1.1;
  font-weight: 300;
}

/* 1VIDEOS */
.videos-bk {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #242527;
}

#videos h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  padding-top: 35px;
  letter-spacing: 5px;
}

.videos-cont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 50px;
  padding: 40px 35px 60px;
  margin-bottom: 50px;
}

.video-bx {
  width: 31%;
  background: #fff;
}

.video-bx-fb {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-bx-fb iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video-bx p {
  font-size: 15px;
  padding: 15px 17px 15px;
}

/* 1FOOTER */
footer {
  display: flex;
  flex-direction: column;
}

.footer-hr {
  margin: 0 0 35px;
  background-color: var(--gris-claro);
  height: 5px;
  border: 0;
}

.footer-mision {
  font-size: clamp(1.06rem, 1.28vw + 0.81rem, 1.63rem);
  line-height: 2.2;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  color: var(--naranja-oscuro);
  margin-bottom: 40px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-BSlogo-bx {
  width: 150px;
  display: inline-block;
}

.footer-BSlogo-bx img {
  width: 100%;
}

.footer-col-2 {
  width: 35%;
  margin-left: 70px;
}

.footer-icon {
  font-size: 18px;
  margin-right: 7px;
  color: var(--gris-oscuro);
}

.footer-tel {
  font-size: 18px;
  line-height: 1.1;
  display: inline-block;
  margin-bottom: 17px;
}

.footer-email {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 17px;
  display: inline-block;
  white-space: nowrap;
}

.footer-direccion {
  font-size: 15px;
  line-height: 1.3;
}

.footer-col-3 {
  width: 35%;
  margin-left: 60px;
}

.footer-col-3 p {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 7px;
}

footer .facebook-bx {
  margin-left: 60px;
}

.footer-pleca {
  width: 100%;
  background: var(--verde05);
  margin: 55px auto 0;
  text-align: center;
  bottom: 0;
  padding: 7px 0;
}

.duarte-firma {
  font-family: sans-serif;
  font-size: 11px;
  color: #fff;
}

.duarte-firma a {
  color: #fff;
}

.vsbldw768 {
  display: none;
}

/* NOTAS */
.nota-bx {
  display: grid;
  grid-template-columns: 60% 40%;
}

.col-60 {
  grid-column: 1/2;
  width: 100%;
}

.col-40 {
  grid-column: 2/3;
  width: 100%;
  position: relative;
}

/* NOTA CABEZA */
.nt-ceja {
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  color: white;
  padding: 0 13px;
  margin-right: 15px;
  display: inline;
}

.nt-fecha {
  font-size: 14px;
  display: inline;
  color: #66666e;
}

.nt-edit-cbz {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 25px;
}

/* NOTA COMPARTIR */
.compartir-bx {
  height: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.fa-share {
  font-size: 18px;
  margin-right: 5px;
  color: #9999a1;
}

.compartir {
  font-size: 16px;
  margin-right: 15px;
  color: #66666e;
}

.whatsapp-compartir {
  font-size: 25px;
  color: #25d366;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}

.facebook-compartir {
  font-size: 25px;
  color: #1677f2;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}

.envelope-compartir {
  font-size: 23px;
  color: #676869;
  text-decoration: none;
  padding: 5px;
  margin-right: 10px;
}

/* NOTA CREDITO */
.nt-credito-bx {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.nt-credito-foto-bx {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
}

.nt-credito-foto-bx img {
  width: 100%;
}

.nt-credito-autor {
  font-size: 15px;
  line-height: 1.3;
}

.nt-credito-autor strong {
  color: var(--verde-logo-1);
}

.nt-credito-autor i {
  font-size: 13px;
}

/* NOTA TEXTO */
.nt-txt {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

.nt-txt p {
  margin-bottom: 10px;
}

.nt-txt p span {
  font-size: 20px;
  font-weight: 700;
}

.nt-txt-preg {
  font-weight: 500;
  margin-top: 20px;
}

.nt-txt-preg+p {
  font-style: oblique;
  margin-top: -7px;
}

.nt-descanso {
  font-size: 23px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--verde-logo-1);
  margin-top: 40px;
}

.nt-txt-resaltado {
  font-size: 23px;
}

.nt-txt-resaltado-bx {
  width: 95%;
  padding: 25px;
  background: var(--gris-claro);
  margin-top: 30px;
  margin-bottom: 30px;
}

.nt-txt-resaltado-bx p {
  line-height: 1.5;
  color: var(--verde-logo-1);
  margin-bottom: 0;
}

.nt-txt li {
  margin-left: 30px;
}

.lista-disco-nota li {
  list-style-type: disc;
  margin-right: 50px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.lista-disco-num li {
  list-style-type: decimal;
  margin-right: 50px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.nt-foto-bx {
  width: 90%;
  margin: 60px auto 65px auto;
  background-color: var(--gris-claro);
}

.nt-foto-bx figure img {
  width: 100%;
}

.nt-foto-bx figcaption {
  font-size: 22px;
  font-weight: 600;
  color: var(--verde-logo-1);
  padding: 20px 25px 20px 25px;
}

.nt-foto-bx p,
.nt-foto-bx ul {
  padding: 20px 25px 20px 25px;
}

.rcNota {
  width: 40%;
  border-radius: 17px;
  padding: 22px 25px 20px 25px;
}

.rcDer {
  float: right;
  margin: 25px -50px 25px 35px;
}

.rcCbz {
  font-size: 25px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.rcNota ul li {
  font-size: 20px;
  line-height: 1.15;
  font-weight: 400;
  list-style-type: disc;
  margin-bottom: 10px;
  margin-left: 17px;
  color: #333;
}

/* NOTAS FIN */

/* CONTACTO */
.ctc-bx {
  width: fit-content;
  max-width: 70%;
  margin-top: 50px;
  background: #344497;
  padding: 25px;
  border-radius: 0 25px 25px 25px;
  font-family: "Nunito Sans", sans-serif;
  color: #ffffff;
}

.ctc-bx>a {
  color: white;
}

.ctc-conozca {
  font-size: 27px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ctc-nombre {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: unset;
  margin: 8px 0 5px;
}

.ctc-especialidad {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 5px;
}

.ctc-certificaciones {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 7px;
}

.ctc-cedulas {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 7px;
}

.ctc-cargo {
  font-size: 18px;
  margin-bottom: 7px;
}

.ctc-empresa {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 4px;
}

.ctc-bx>.fas, .ctc-tel {
  display: inline-block;
}

.ctc-dom, .ctc-tel {
  font-size: 16.5px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 3px;
}

.ctc-tel {
  margin-bottom: 7px;
}

.ctc-correo {
  font-size: 16.5px;
  line-height: 1;
  font-weight: 200;
  display: block;
  word-break: break-all;
  margin-bottom: 8px;
}

.ctc-click {
  font-size: 19px;
  line-height: 1.1;
  margin: 12px 0 5px;
}

.ctc-foto {
  width: 33%;
  float: right;
  margin-left: 10px;
}

.ctc-foto img {
  width: 100%;
}

.ctc-redes {
  font-size: 17.5px;
  line-height: 1;
  font-weight: 200;
  display: block;
  word-break: break-all;
  margin-top: 6px;
}

.redes-icon {
  font-size: 30px;
  margin-right: 25px;
}

.clear {
  clear: both;
}

/* BANNERS ASIDE */
.aside-bnrs-up {
  float: right;
  width: 75%;
  margin-top: 50px;
}

.aside-bnrs-up img {
  width: 100%;
}

.aside-bnrs-stic {
  float: right;
  width: 75%;
  margin: 100px 0 0;
  position: sticky;
  top: 40px;
}

.aside-bnrs-stic img {
  width: 100%;
}

/*------MEDIAS SCREEN INICIO GRAL------*/
@media screen and (max-width: 1200px) {
  .videos-cont {
    padding: 40px 0 60px;
  }
}

@media screen and (max-width: 1024px) {
  .dirmdc-dr-bx {
    flex-basis: 16.5%;
  }

  .dirmdc-dr-bx:last-child {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .revista-bs-logo-bx {
    width: 175px;
  }

  .prt-cont {
    flex-direction: column;
  }

  .prt-col-1 {
    width: 95%;
    align-content: center;
  }

  .prt-rvst-bx,
  .prt-prev-bx {
    width: 48%;
    margin-bottom: 40px;
  }

  .prt-video-cont {
    width: 95%;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 35px 35px;
    border: 1px solid #878a8f;
  }

  .prt-video-bx {
    width: 45%;
    padding-bottom: 25.3125%;
    margin-bottom: 0;
  }

  .prt-video-txt {
    width: 50%;
    margin-left: 30px;
  }

  /* FOOTER */
  .footer-email {
    font-size: 17px;
  }

  .footer-direccion {
    font-size: 14px;
  }

  .footer-col-3 p {
    font-size: 14px;
    margin-bottom: 6px;
  }

  /* CONTACTO-AUTOR */
  .ctc-nombre {
    font-size: 20px;
  }
}

@media screen and (max-width: 920px) {
  .edcn-bx {
    width: 47%;
    justify-content: space-evenly;
  }

  .dirmdc-dr-bx {
    flex-basis: 21%;
  }

  .dirmdc-dr-bx:nth-last-child(2) {
    display: none;
  }

  .video-bx {
    width: 47%;
  }

  /* 92FOOTER */
  .footer-BSlogo-bx {
    width: 140px;
  }

  /* 92NOTA */
  .nt-credito-foto-bx {
    width: 66px;
    height: 66px;
    margin-right: 15px;
  }

  .rcNota {
    padding: 20px;
  }

  .rcCbz {
    font-size: 23px;
  }

  .rcNota ul li {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 12px;
  }
}

@media screen and (max-width: 840px) {
  .prt-video-cont {
    flex-direction: column;
  }

  .prt-video-bx {
    width: 75%;
    padding-bottom: 42.1875%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prt-video-txt {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .edcns-cont {
    padding: 0 10px 0 10px;
  }
}

@media screen and (max-width: 820px) {

  /* 82FOOTER */
  .footer-col-2 {
    margin-left: 50px;
  }

  .footer-email {
    font-size: 15px;
  }

  .footer-col-3 {
    margin-left: 45px;
  }

  /* 82COMPARTIR */
  .compartir-bx {
    margin-bottom: 35px;
  }

  .nt-credito-bx {
    margin-bottom: 30px;
  }

  /* 82NOTA */
  .nt-edit-cbz {
    font-size: 50px;
  }

  .rcDer {
    margin-right: -15px;
  }

  /* 82CTC */
  .ctc-bx {
    width: fit-content;
    max-width: 80%;
  }

  /* 82ASIDE NOTAS */
  .aside-bnrs-up,
  .aside-bnrs-stic {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  .dno768 {
    display: none;
  }

  .d768 {
    display: block;
  }

  .pdf-mob {
    display: block;
  }

  /* LOGO FACE SI TODO OK, BORRAR ESTO */
  /* footer .facebook-bx {
    display: inline-block;
    margin: auto 0 auto;
  } */
  .revista-bs-logo-bx {
    width: 150px;
  }

  .dirmdc-cont {
    padding: 0 15px;
  }

  .dirmdc-dr-bx {
    flex-basis: 27.5%;
  }

  .dirmdc-dr-bx:last-child {
    display: initial;
  }

  .dirmdc-dr-bx:nth-last-child(2) {
    display: initial;
  }

  /* 768NOTAS */
  .rcNota {
    /* width: fit-content; */
    width: 90%;
    border-radius: 13px;
  }

  /* REVISAR SI ESTA CLASE SE USA EN EL HTML */
  .nt-foto-bx figcaption {
    font-size: 20px;
  }

  .rcDer {
    float: none;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
  }

  /* 76FOOTER */
  .footer-mision {
    margin-bottom: 20px;
  }

  .footer-row {
    width: 92%;
    margin: 0 auto;
    flex-direction: column;
  }

  .footer-col-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .footer-BSlogo-bx {
    width: 130px;
  }

  .footer-col-2,
  .footer-col-3 {
    width: 100%;
    margin: 0 auto;
  }

  .footer-tel {
    margin-right: 19px;
  }

  .footer-direccion {
    margin-bottom: 18px;
  }

  .footer-pleca {
    margin-top: 40px;
  }

  /* 76CREDITO */
  .nt-credito-foto-bx {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 740px) {
  .prt-prev-mes {
    margin-bottom: 10px;
  }

  .prt-prev-hr {
    margin: 10px 0 10px;
  }
}

@media screen and (max-width: 680px) {
  .edcns-cont {
    row-gap: 40px;
  }

  .prt-bnr-spc-tp {
    /* height: 60px; */
    height: 6vh;
  }

  .prt-bnr-spc-bt {
    /* height: 60px; */
    height: 6vh;
  }

  /* 68NOTA */
  .nota-bx {
    grid-template-columns: 100%;
    padding: 0 5px 0 5px;
  }

  article {
    margin-bottom: 20px;
  }

  /* 68ASIDE NOTA */
  .col-40 {
    grid-column: 1/2;
  }

  .noneup680 {
    display: block;
  }

  .nonedw680 {
    display: none !important;
  }

  .aside-bnrs-up {
    display: flex;
    width: 75%;
    float: none;
    margin: 6vh auto 5vh;
  }

  .aside-bnrs-stic {
    display: flex;
    width: 75%;
    float: none;
    margin: 0 auto;
    position: initial;
  }
}

@media screen and (max-width: 580px) {

  .bnr-hz-01 a:nth-child(1),
  .bnr-hz-02 a:nth-child(1) {
    display: none;
  }

  .bnr-hz-01-mob {
    display: block;
  }

  .prt-col-1 {
    flex-direction: column;
    justify-content: center;
  }

  .prt-rvst-bx {
    width: 85%;
  }

  .prt-prev-bx {
    width: 85%;
    text-align: center;
  }

  .prt-prev-mes {
    margin-bottom: 20px;
  }

  .prt-prev-hr {
    margin: 20px 0 20px;
  }

  .prt-prev-blz,
  .prt-prev-edit-ind {
    font-size: clamp(1.19rem, 1.54vw + 0.88rem, 1.44rem);
  }

  .prt-video-bx {
    width: 90%;
    padding-bottom: 50.625%;
  }

  .edcn-bx {
    width: 92%;
    margin: 0 auto;
  }

  .dirmdc-dr-bx {
    flex-basis: 45%;
  }

  .videos-cont {
    row-gap: 60px;
  }

  .video-bx {
    width: 92%;
    margin: 0 auto;
  }

  /* 58COMPARTIR */
  .compartir-bx {
    margin-bottom: 30px;
  }

  /* 58CREDITO */
  .nt-credito-bx {
    margin-bottom: 25px;
  }

  .nt-credito-foto-bx {
    width: 56px;
    height: 56px;
    margin-right: 13px;
  }
}

@media screen and (max-width: 520px) {
  .revista-bs-logo-bx {
    width: 125px;
  }

  .facebook-bx {
    font-size: 24px;
  }

  .femeson-logo-bx {
    width: 35px;
  }

  .prt-video-cont {
    padding: 20px 20px;
  }

  .prt-video-bx {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .header-hr {
    margin-bottom: 35px;
  }

  #ediciones h3,
  #dirMdc h3,
  #videos h3 {
    font-size: 25px;
    letter-spacing: unset;
    line-height: .95;
  }

  .edcn-bx {
    width: 95%;
    background: #fff;
    margin: 0 auto;
  }

  /* BNR PERLA MOB */
  .bnr-vl-02 {
    width: 85%;
  }

  /* 48NOTA */
  .nt-ceja {
    font-size: 13px;
    padding: 0 10px;
  }

  .nt-fecha {
    font-size: 12px;
  }

  .nt-edit-cbz {
    font-size: 40px;
  }

  .rcNota ul li {
    /* text-wrap: balance; */
    font-size: 17px;
  }

  /* COMPARTIR */
  .whatsapp-compartir,
  .facebook-compartir {
    font-size: 22px;
  }

  .envelope-compartir {
    font-size: 20px;
  }

  .link-compartir {
    font-size: 17px;
  }

  /* CREDITO */
  .nt-credito-autor {
    font-size: 13px;
  }

  /* 48TEXTO NOTA */
  .nt-txt {
    font-size: 18px;
    line-height: 1.4;
  }

  .nt-txt p {
    margin-bottom: 7px;
  }

  .nt-txt p span {
    font-size: 17px;
  }

  .nt-descanso {
    font-size: 19px;
    margin-top: 30px;
  }

  .nt-txt-resaltado-bx {
    padding: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .nt-txt-resaltado {
    font-size: 19px;
  }

  .nt-foto-bx {
    margin: 30px auto 35px auto;
  }

  /* 48CTC */
  .nonedw480 {
    display: none;
  }
}

@media screen and (max-width: 420px) {

  /* 42CTC */
  .ctc-sobre {
    font-size: 13px;
  }

  .ctc-nombre {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .ctc-especialidad {
    font-size: 15px;
    margin-bottom: 7px;
  }

  .ctc-certificaciones {
    font-size: 13px;
    margin-bottom: 7px;
  }

  .ctc-cedulas {
    font-size: 11px;
    margin-bottom: 7px;
  }

  .ctc-cargo {
    font-size: 15px;
    margin-bottom: 7px;
  }

  .ctc-correo {
    font-size: 14.5px;
  }
}

@media screen and (max-width: 400px) {

  /* 40CTC */
  .ctc-bx {
    max-width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .rcCbz {
    font-size: 20px;
  }

  /* 36FOOTER */
  .duarte-firma {
    font-size: 11px;
  }
}

@media screen and (max-width: 340px) {
  .prt-prev-cbz {
    /* font-size: 40px; */
  }

  .prt-prev-edit-cbz {
    /* font-size: 25px; */
  }

  /* 34FOOTER */
  .footer-BSlogo-bx {
    width: 120px;
  }
}

/* ----MEDIAS SCREEN FIN---- */