* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.f1 {
  font-family: "Nunito Sans", sans-serif;
}
.f2 {
  font-family: "Oswald", sans-serif;
}
.f3 {
  font-family: "Roboto Condensed", sans-serif;
}
:root {
  --naranja-claro: #ebb730;
  --naranja-oscuro: #db813f;
  --azul-claro: #0094d7;
  --azul-oscuro: #344497;
  --morado: #612f8c;
  --verde: #6dab51;
  --rojo-oscuro: #953829;
  --rojo: #b3272d;
  --verde-logo-1: #275c6d;
  --gris-claro: #e6e6de;
}
.rojoc {
  background: #c3242b;
}
.rojoo {
  background: #a1262a;
}
.verde {
  background: #6dab51;
}
.azulo {
  background: #344497;
}
.azulc {
  background: #0094d7;
}
.naranjao {
  background: #db813f;
}
.naranjac {
  background: #ebb730;
}
.morado {
  background: #612f8c;
}
.verde1 {
  background: #275c6d;
}
.contenedor{
  width: 95vw;
  max-width: 1100px;
}
.m-0a{
  margin: 0 auto;
}
.indicador {
  font-size: 25px;
  font-weight: 400;  
  color: #000100;
}
.mb-15{
  margin-bottom: 15px;
}
.hv-txt-01:hover {
  color: slategrey;
}
.hv-trns-01:hover {
  transform: translateY(-1%);
}
.contenedor {
  width: 92vw
}
.indicador {
  font-size: 20px; 
}  
/* HEADER */
.header-mobile-row-1{
  display: flex;
  align-content: center;
}
.fa-bars,
.fa-search {
  font-size: 35px;
  /* REVISAR MEDIDA RESP */
  align-self: center;
  z-index: 22;
}
.logo-mobile-bx {
  width: 45%;
  margin: 0 auto 18px;
}
.logo-mobile-bx img {
  width: 100%;
}
.lema-mobile-bx {
  width: 55%;
  margin: 0 auto 10px;
}
.lema-mobile-bx img {
  width: 100%;
}
.header-leyenda-femeson-bx {
  width: 100%;
  margin: 0 auto;
  background: #275c6d;
}
.header-leyenda-femeson {
  font-size: 15px;
  /* letter-spacing: 1px; */
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 5px;
}
.menu {    
  width: 45%;
  height: 100vh;
  text-align: left;
  top: 0;
  left: -500px;
  position: fixed;
  background: var(--verde-logo-1);
  z-index: 30;
  transition: 1s;
}
.menu ul {
  padding: 35px;
}
.menu ul li {
  display: block;
  margin-bottom: 20px;
}
.menu li {
  display: block;    
}
nav .fas {
  display: block;
  color: #fff;
  margin: 25px 0 0 25px;
  font-size: 22px;
  cursor: pointer;
}
.menu ul li a {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.ind-esp-edi-a{
  font-size: 20px;
}